{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>{{ title }}</title>
    <meta name="description"
          content="Découvrez les prix du m2 à {{ city_name }} et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>

    {#    Mapbox#}


    <link rel="stylesheet" type="text/css" href="{% static 'estimer/css/city.css' %}">
{% endblock %}

{% block body %}
   <div class="container-fluid bg-primary-blue-200">
     <div class="flex">
       <img src="{% static 'images/icons/crown.svg' %}" class="mx-8 w-16 h-16 mt-8">
        <div class="mx-auto ml-3 mt-8 w-7/12">
            <p class="text-l text-secondary-blue-darkest">
               <strong>Nom de l'agence</strong> est disponible pour
               estimer gratuitement votre bien à {{ city_name }}.
            </p>
            <p class="text-secondary-blue-darkest mt-8">Prénom Nom</p>
            <p class="text-secondary-blue-darkest">www.nom-agence.com</p>
            <p class="text-secondary-blue-darkest">00.00.00.00.00</p>
        </div>
     </div>
       <div class="flex p-10">
       <button class="btn-secondary w-11/12 mx-auto p-3 text-secondary-blue-darkest">
                    Démarrez notre offre
       </button>
       </div>
   </div>
{% endblock %}
