{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>{{ title }}</title>
    <meta name="description"
          content="Découvrez les prix du m2 à {{ city_name }} et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>

{% endblock %}

{% block body %}
   <div class="container-fluid bg-primary-blue-200">
     <div class="flex">
       <img src="{% static 'images/icons/crown.svg' %}" class="mx-8 w-16 h-16 mt-8">
        <div class="mx-auto ml-3 mt-8 w-7/12">
            <p class="text-l text-secondary-blue-darkest">
               <strong>Nom de l'agence</strong> est disponible pour
               estimer gratuitement votre bien à {{ city_name }}.
            </p>
            <p class="text-secondary-blue-darkest mt-8">Prénom Nom</p>
            <p class="text-secondary-blue-darkest">www.nom-agence.com</p>
            <p class="text-secondary-blue-darkest">00.00.00.00.00</p>
        </div>
     </div>
       <div class="flex p-10">
       <button class="btn-secondary w-11/12 mx-auto p-3 text-secondary-blue-darkest">
                    Démarrez notre offre
       </button>
       </div>
   </div>
   <div class="container-fluid">
        <h2 class="mt-8 mx-auto text-center w-1/2 text-secondary-blue-darkest">Prix au m2 à {{ city_name }}</h2>
        <h2 class="mt-6 mx-auto text-center w-1/2 text-secondary-blue-darkest mb-14"> 0000 €</h2>
   </div>
   <div class="container-fluid bg-primary-blue-200 pb-16">
        <h2 class="text-secondary-blue-darkest p-8 mx-auto w-10/12">Prix au m2</h2>
        <p class="text-secondary-blue-darkest mx-auto px-8 pb-8 w-10/12">Suite à l'analyse des 23052 transactions immobilières à {{ city_name }}, en 220,
            nous observons un prix au m2 de 0000 € pour les appartements, et de 0000 € pour les maisons.
        </p>
    <div class="container-fluid bg-white w-10/12 mx-auto rounded-lg pb-12">
            <div class="flex">
                <img src="{% static 'images/icons/appartment.svg' %}" class="mx-auto mr-0 w-18 h-18 mt-10">
                <div class="mx-auto ml-3">
                    <h3 class="text-secondary-blue-darkest mt-16">Appartement</h3>
                </div>
            </div>
        <p class="mx-auto w-7/12 mt-8 text-secondary-blue-darkest">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem rem nesciunt dicta ut aut ab minus,
            laboriosam impedit. Pariatur nulla commodi placeat natus! Numquam, distinctio? In dicta beatae eaque veniam.
        </p>

        <p class="bg-secondary-blue-darkest w-9/12 rounded-lg p-3 text-center text-white mx-auto my-8">Prix moyen au m2 <strong class="text-xl ml-5">0000 €</strong></p>
         <div class="grid grid-cols-2 grid-rows-2">
            <p class="text-secondary-blue-darkest ml-16">4 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
            <p class="text-secondary-blue-darkest ml-16">3 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
            <p class="text-secondary-blue-darkest ml-16">2 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
            <p class="text-secondary-blue-darkest ml-16">1 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
         </div>
    </div>
    <div class="container-fluid bg-white w-10/12 mx-auto rounded-lg mt-12 pb-12">
            <div class="flex">
                <img src="{% static 'images/icons/house.svg' %}" class="mx-auto mr-0 w-18 h-18 mt-10">
                <div class="mx-auto ml-3">
                    <h3 class="text-secondary-blue-darkest mt-16">Maison</h3>
                </div>
            </div>
        <p class="mx-auto w-7/12 mt-8 text-secondary-blue-darkest">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem rem nesciunt dicta ut aut ab minus,
            laboriosam impedit. Pariatur nulla commodi placeat natus! Numquam, distinctio? In dicta beatae eaque veniam.
        </p>

        <p class="bg-secondary-blue-darkest w-9/12 rounded-lg p-3 text-center text-white mx-auto my-8">Prix moyen au m2 <strong class="text-xl ml-5">0000 €</strong></p>
         <div class="grid grid-cols-2 grid-rows-2">
            <p class="text-secondary-blue-darkest ml-16">4 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
            <p class="text-secondary-blue-darkest ml-16">3 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
            <p class="text-secondary-blue-darkest ml-16">2 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
            <p class="text-secondary-blue-darkest ml-16">1 pièces</p>
            <p class="text-secondary-blue-darkest ml-16">0000 €</p>
         </div>
    </div>
   </div>
   <div class="container-fluid mt-20">
        <h2 class="text-secondary-blue-darkest mx-auto w-7/12 text-center">Evolution du prix au m2</h2>
        <p class="text-secondary-blue-darkest mx-auto w-7/12 text-center mt-8"> Entre 2019 et 220, les prix de l'immobilier ont augmenté de 3%, atteignant 3095 € en 2020</p>
        <div class="flex">
            <select class="mt-8 mx-auto text-center form-select appearance-none block text-secondary-blue-darkest w-8/12 py-4 bg-white bg-clip-padding bg-no-repeat border border-solid border-primary-blue-300 rounded-lg transition ease-in-outm-0
                focus:text-secondary-blue-darkest focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="">
                <option disabled selected>Entre le nom de quartier</option>
                <option value="">Quartier 1</option>
                <option value="">Quartier 2</option>
                <option value="">Quartier 3</option>
            </select>
        </div>
   </div>
    <div class="mt-8">
        <img src='data:image/svg+xml;base64,{{ city_data.chart_b64_svg }}' alt="prix m2 {{ city_name }}">
    </div>
    <div class="container-fluid bg-primary-blue-200 mt-16">
        <h2 class="text-secondary-blue-darkest p-8">Carte des prix</h2>
        <p class="text-secondary-blue-darkest p-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem rem nesciunt dicta ut aut ab minus,
            laboriosam impedit. Pariatur nulla commodi placeat natus! Numquam, distinctio? In dicta beatae eaque veniam.</p>
           {% include 'map/map.html' %}
    </div>
{% endblock %}
