{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <meta name="description" content="Découvrez les prix du m2 à {{ city_name }} et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        const city_name = '{{ city_name }}';
        const price_evolution_text = '{{ city_data.price_evolution_text }}';
        const chart_b64_svg = '{{ city_data.chart_b64_svg }}';
    </script>
    <script src="{% static 'js/city.js' %}"></script>
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <div id="agency-banner" class="bg-primary-blue-200 py-5">
        <div class="md:flex text-center md:text-left md:px-20 items-center">
            <img alt="logo of agency {{ city_data.agent.agency }}"
                 src="{{ city_data.agent.picture }}"
                 class="my-auto mx-auto md:mb-0 mb-4 md:mr-20 w-16 h-16 rounded-full">
            <p class="md:w-6/12 md:mb-0 mb-4">
                {{ city_data.agent.description|default:"" }}
            </p>
            <div class="md:w-4/12 md:ml-10 md:mb-0 mb-4">
                <p>{{ city_data.agent.name|default:"" }}</p>
                <a target="_blank"
                   href="{{ city_data.agent.website_url|default:"#" }}">{{ city_data.agent.short_url|default:"" }}</a>
                <p>{{ city_data.agent.phone_number|default:"" }}</p>
            </div>
            <a href="mailto:{{ city_data.agent.email }}" class="w-40">
                <button class="btn-secondary">
                    Contacter
                </button>
            </a>
        </div>
    </div>
    <div id="prix-m2-global" class="md:py-20">
        <h1 class="mt-8 mx-auto text-center md:w-1/2 ">Prix au m2 à {{ city_name }}</h1>
        <p class="mt-6 mx-auto text-center md:w-1/2  mb-14 text-3xl font-bold">

            {% with city_data.median_m2_prices_years|last as most_recent_year %}
                {% if most_recent_year.value == None %}
                    <p class="text-xs">Il n'y a pas eu assez de ventes en {% now 'Y' %} pour estimer le prix au m2.</p>
                {% else %}
                    <span class="underlined-orange">{{ most_recent_year.value|floatformat:"0" }} €</span>
                {% endif %}
            {% endwith %}
        </p>
    </div>
    <div id="prix-m2-detail" class=" bg-primary-blue-100 pb-16">
        <div class="w-10/12 md:w-8/12 mx-auto">
            <div class="md:flex justify-between py-16">
                <h2 class=" md:w-3/19 mb-8 md:mb-0"><span class="underlined-blue">Prix au m2</span></h2>
                <p class=" pb-8 md:w-8/12">
                    Suite à l'analyse des {{ city_data.number_of_sales|default:'0' }} transactions immobilières
                    à {{ city_name }},
                    en {{ city_data.date_of_data_year }}
                    nous observons un prix au m2 de
                    {% if city_data.median_m2_price_appartement.value %}
                        {{ city_data.median_m2_price_appartement.value }} € pour les appartements{% endif %}
                    {% if city_data.median_m2_price_appartement.value and city_data.median_m2_price_maison.value %}
                        , et de
                    {% endif %}
                    {% if city_data.median_m2_price_maison.value %}
                        {{ city_data.median_m2_price_maison.value }} € pour les maisons{% endif %}.
                </p>
            </div>
            <div class="md:flex justify-between">
                <div class="bg-white md:w-10/12 md:mr-5 rounded-xl pb-12 mx-auto">
                    <div class="flex">
                        <img src="{% static 'images/icons/appartment.svg' %}"
                             class="mx-auto mr-0 w-18 h-18 mt-10"
                             alt="apartment icon"
                        >
                        <div class="mx-auto ml-3">
                            <h3 class=" mt-16">Appartement</h3>
                        </div>
                    </div>
                    <p class="mx-auto w-10/12 md:w-8/12 mt-8 ">
                        Le prix moyen au m2 pour un appartement à {{ city_name }}
                        {% if not city_data.median_m2_price_appartement.value %}
                            n'a pas pu être calculé car il n'y a pas eu assez de ventes
                        {% else %}
                            était de {{ city_data.median_m2_price_appartement.value }} €
                        {% endif %}
                        en {{ city_data.date_of_data_year }}.
                    </p>

                    <p class="bg-secondary-blue-darkest w-9/12 rounded-xl p-3 text-center text-white mx-auto my-8">
                        {% if not city_data.median_m2_price_appartement.value %}
                            <strong class="text-xs">Donnée indisponible</strong></p>
                        {% else %}
                            Prix moyen au m2
                            <strong class="text-xl ml-5">
                                {{ city_data.median_m2_price_appartement.value }} €
                            </strong></p>
                        {% endif %}
                    {% if city_data.median_m2_price_appartement.value %}
                        <div class="w-8/12 mx-auto">
                            {% if city_data.median_m2_price_appartement_rooms.four%}
                                <div class="flex justify-between">
                                    <p class="">4 pièces</p>
                                    <p class="">{{ city_data.median_m2_price_appartement_rooms.four }}
                                        €</p>
                                </div>
                            {% else %}
                            {% endif %}
                            {% if city_data.median_m2_price_appartement_rooms.three %}
                                <div class="flex justify-between">
                                    <p class="">3 pièces</p>
                                    <p class="">{{ city_data.median_m2_price_appartement_rooms.three }}
                                        €</p>
                                </div>
                            {% else %}
                            {% endif %}
                            {% if city_data.median_m2_price_appartement_rooms.two %}
                                <div class="flex justify-between">
                                    <p class="">2 pièces</p>
                                    <p class="">{{ city_data.median_m2_price_appartement_rooms.two }}
                                        €</p>
                                </div>
                            {% else %}
                            {% endif %}
                            {% if city_data.median_m2_price_appartement_rooms.one%}
                                <div class="flex justify-between">
                                    <p class="">1 pièce</p>
                                    <p class="">{{ city_data.median_m2_price_appartement_rooms.one }}
                                        €</p>
                                </div>
                            {% else %}
                            {% endif %}

                        </div>{% endif %}
                </div>
                <div class="bg-white md:w-10/12 md:mr-5 rounded-xl pb-12 mx-auto mt-12 md:mt-0">
                    <div class="flex">
                        <img src="{% static 'images/icons/house.svg' %}"
                             class="mx-auto mr-0 w-18 h-18 mt-10"
                             alt="house icon"
                        >
                        <div class="mx-auto ml-3">
                            <h3 class=" mt-16">Maison</h3>
                        </div>
                    </div>
                    <p class="mx-auto w-10/12 md:w-8/12 mt-8 ">
                        Le prix moyen au m2 pour une maison à {{ city_name }}
                        {% if not city_data.median_m2_price_maison.value %}
                            n'a pas pu être calculé car il n'y a pas eu assez de vente
                        {% else %}
                            était de {{ city_data.median_m2_price_maison.value }} €
                        {% endif %}
                        en {{ city_data.date_of_data_year }}.
                    </p>

                    <p class="bg-secondary-blue-darkest w-9/12 rounded-xl p-3 text-center text-white mx-auto my-8">Prix
                        moyen au
                        m2 <strong class="text-xl ml-5">{{ city_data.median_m2_price_maison.value }} €</strong></p>
                    {% if city_data.median_m2_price_maison.value %}
                        <div class="w-8/12 mx-auto">
                            {% if city_data.median_m2_price_maison_rooms.four %}
                                <div class="flex justify-between">
                                    <p class="">4 pièces</p>
                                    <p class="">{{ city_data.median_m2_price_maison_rooms.four }}
                                        €</p>
                                </div>
                            {% endif %}
                            {% if city_data.median_m2_price_maison_rooms.three %}
                            <div class="flex justify-between">
                                <p class="">3 pièces</p>
                                <p class="">{{ city_data.median_m2_price_maison_rooms.three }}
                                    €</p>
                            </div>
                            {% endif %}
                            {% if city_data.median_m2_price_maison_rooms.two %}
                            <div class="flex justify-between">
                                <p class="">2 pièces</p>
                                <p class="">{{ city_data.median_m2_price_maison_rooms.two }}
                                    €</p>
                            </div>
                            {% endif %}
                            {% if city_data.median_m2_price_maison_rooms.one %}
                            <div class="flex justify-between">
                                <p class="">1 pièce</p>
                                <p class="">{{ city_data.median_m2_price_maison_rooms.one }}
                                    €</p>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    <div id="prix-m2-quartier" x-data="irisData">
        <div class="w-10/12 md:w-8/12 mx-auto my-20 md:my-32">
            <div class="md:flex justify-between items-baseline text-center md:text-left">
                <div class="md:w-12/12 md:ml-auto">
                    <h2 class="mx-auto">Evolution du <span class="underlined-orange">prix au m2</span></h2>
                    <p class="mx-auto mt-8 md:mt-5"
                       x-text="irisData.price_evolution_text">
                        {#                    {{ city_data.price_evolution_text }}#}
                    </p>
                </div>

                <div class=" w-8/12 md:w-5/12 {% if city_data.neighbourhoods|length <= 1 %} invisible {% endif %}">
                    <select
                            class="shadow-lg mt-8 mx-auto text-center form-select appearance-none block
                        py-4 bg-white bg-clip-padding bg-no-repeat
                        rounded-xl transition ease-in-outm-0 focus:text-secondary-blue-darkest focus:bg-white
                        focus:border-blue-600 focus:outline-none"
                            aria-label="select neighbourhood"
                            x-on:change="selectIris"
                    >
                        <option disabled selected>-- Quartier --</option>
                        {% for neighbourhood in city_data.neighbourhoods %}
                            <option value="{{ neighbourhood.properties.code_iris }}"
                                    onclick="">{{ neighbourhood.properties.nom_iris }}</option>
                        {% endfor %}
                    </select></div>

            </div>

            <div class="mt-10 md:mt-20">
                <img x-bind:src="'data:image/svg+xml;base64,' + irisData.chart_b64_svg"
                     x-bind:alt="'prix m2 ' + irisData.iris_name"
                     class="md:mx-auto">
            </div>
        </div>
    </div>

    <div class="bg-primary-blue-100 mt-16 pb-16">
        <div class="md:py-16 w-11/12 md:w-8/12 mx-auto">
            <div class="flex justify-between">
                <h2 class=" py-8 md:p-0 md:w-4/12"><span class="underlined-blue">Carte des prix</span></h2>
                <p class=" py-8 md:p-0 md:w-8/12">
                </p>
            </div>
            <div class="mt-8 md:mt-16">
                {% include 'map/map.html' %}
            </div>
        </div>

    </div>
    <div id="streets" class="md:flex md:my-16 my-12">
        <div class="mt-10 md:flex md:w-1/2 md:flex-col">
            <div class="w-10/12 md:w-8/12 mx-auto">
                <div class="flex justify-between items-center">
                    <h3 class=" mt-8 md:mt-0 ">Rues les <span class="underlined-orange">plus chères</span></h3>
                    <img src="{% static 'images/icons/euros_many.svg' %}"
                         class="mt-4 md:mt-0 h-12"
                         alt="lots of euros"
                    >
                </div>
                <div class="mt-8">
                    {% for street in city_data.most_expensive_streets %}
                        <div class="flex justify-between my-6">
                            <div class=" capitalize">{{ street.nom_voie }}</div>
                            <div class="">{{ street.avg_m2_price }} €/m2</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bg-primary-blue-300 w-10/12 h-[2px] mx-auto rounded-full mt-10 md:w-[2px] md:h-[300px]"></div>
        <div class="mt-10 md:flex md:w-1/2 md:flex-col">
            <div class="w-10/12 md:w-8/12 mx-auto">
                <div class="flex justify-between  items-center">
                    <h3 class=" mt-8 md:mt-0 ">Rues les <span class="underlined-orange">moins chères</span></h3>
                    <img src="{% static 'images/icons/euros_few.svg' %}"
                         class="mt-4 md:mt-0 h-12"
                         alt="few euros"
                    >
                </div>
                <div class="mt-8">
                    {% for street in city_data.less_expensive_streets %}
                        <div class="flex justify-between my-6">
                            <div class=" capitalize">{{ street.nom_voie }}</div>
                            <div class="">{{ street.avg_m2_price }} €/m2</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="closeby-cities"
         class=" bg-secondary-blue-darkest w-10/12 rounded-xl mx-auto pb-16">
        <div class="md:flex md:items-center text-center md:text-left w-11/12 md:w-8/12 mx-auto md:py-16 py-8">
            <img src="{% static 'images/icons/map_pointer.svg' %}"
                 class="w-16 mx-auto mb-4 md:mb-0"
                 alt="pin on a map"
            >
            <h2 class="text-white w-8/12 mx-auto">Communes à proximité</h2>
        </div>
        <div class="flex text-center">
            <div class="text-center mx-auto md:w-6/12">s
                {% for city in closeby_cities|slice:":10" %}
                    <a class="mx-auto text-white"
                       href="{% url 'city' slug=city.slug %}">
                        <p class="font-semibold leading-8">{{ city.nom_commune }}</p>
                    </a>

                {% endfor %}
            </div>
            <div class="hidden md:flex mx-auto rounded-full mt-5 w-[2px] h-[400px] bg-secondary-blue-lightest"></div>
            <div class="hidden md:block mt-8 md:w-6/12">
                {% for city in closeby_cities|slice:"10:20" %}
                    <a class="mx-auto text-white"
                       href="{% url 'city' slug=city.slug %}">
                        <p class="font-semibold leading-loose">{{ city.nom_commune }}</p>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>

    <div id="faq" class="mt-12 text-center">
        <h2 class=""><span class="underlined-orange">Questions fréquentes</span></h2>
        <ul itemscope itemtype="https://schema.org/FAQPage" class="flex flex-col mt-12 w-11/12 md:w-9/12 mx-auto md:text-left">
            <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2">
                <details>
                <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                    <summary itemprop="name">Quel est le prix de l'immobilier à {{ city_name }} ?</summary>
                </p>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="max-h-2">
                    <p itemprop="text" class="p-3 text-xs">
                        Le prix de l'immobilier à {{ city_name }} est en moyenne de
                        {% for price_year in city_data.median_m2_prices_years %}
                            {% if price_year.year == 2021 %}
                                {{ price_year.value|floatformat:"0" }}
                            {% endif %}
                        {% endfor %}
                        € au m2.
                    </p>
                </div>
                </details>
            </li>
            <li class="my-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
            <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2">
                <details>
                <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                    <summary itemprop="name">Quelle est l'évolution du prix de l'immobilier à {{ city_name }} ?</summary>
                </p>

                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="max-h-2">
                    <p itemprop="text" class="p-3 text-xs">
                        Le prix de l'immobilier a évolué positivement sur les 5 dernières années. Il est passé de
                        {% for price_year in city_data.median_m2_prices_years %}
                            {% if price_year.year == 2017 %}
                                {{ price_year.value|floatformat:"0" }}
                            {% endif %}
                        {% endfor %}
                        € à {% for price_year in city_data.median_m2_prices_years %}
                        {% if price_year.year == 2021 %}
                            {{ price_year.value|floatformat:"0" }}
                        {% endif %}
                    {% endfor %}
                        € au m2.
                    </p>
                </div>
                </details>
            </li>
            <li class="my-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
            {% if city_data.neighbourhoods|length > 1 %}
                <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2" >
                   <details>
                    <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                        <summary itemprop="name">Quel est le quartier le plus cher à {{ city_name }} ?</summary>
                    </p>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="max-h-2">
                        <p itemprop="text" class="p-3 text-xs">
                            Le quartier le plus cher à {{ city_name }}
                            est {{ city_data.most_expensive_neighbourhood.properties.nom_iris }} avec un prix de
                            {{ city_data.most_expensive_neighbourhood.properties.average_m2_price }} au m2.
                        </p>
                    </div>
                   </details>
                </li>
                <li class="my-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
                <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2">
                    <details>
                    <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                        <summary itemprop="name">Quel est le quartier le moins cher à {{ city_name }} ?</summary>
                    </p>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="max-h-2">
                        <p itemprop="text" class="p-3 text-xs">
                            Le Quartier le moins cher à {{ city_name }}
                            est {{ city_data.less_expensive_neighbourhood.properties.nom_iris }} avec un prix de
                            {{ city_data.less_expensive_neighbourhood.properties.average_m2_price }} au m2.
                        </p>
                    </div>
                    </details>
                </li>
                <li class="mt-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
