{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>Estimer.com - Mentions légales</title>
    <meta name="description"
          content="Découvrez les prix du m2 et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
    <meta name="robots" content="noindex">
{% endblock %}

{% block body %}
    <div class="section-2">
            <div class="w-container">
                <h1 class="heading">Mentions légales</h1>
                <p>
                    En conformité avec les dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du Site estimer.com l'identité des différents intervenants que ce soit dans le cadre de sa réalisation et de son suivi.
                </p>
                <h3>Edition du site </h3>
                <p>Le site Estimer.com est édité par la société Olivier Pourquier, dont le siège social est au 2 rue du val de la mosson, à Saint Jean de Védas (34430), avec comme numéro de Siret : 83137085300010.</p>
                <h3>Responsable de publication </h3>
                <p>Olivier Pourquier est le responsable de la publication du site estimer.com.</p>
                <h3>Hébergeur</h3>
                <p>Le site estimer.com est hébergé par la société Digital Ocean, dont le siège social est situé New York City, New York , États-Unis.</p>
                <h3>Pour nous contacter </h3>
                <ul>
                    <li>Par téléphone : 06.81.37.36.33</li>
                    <li>Par email : contact@estimer.com</li>
                </ul>
                <h3>Votre vie privée - CNIL</h3>
                <p>Nous ne collectons pas les données personnelles de nos utilisateurs.</p>
                <h3>Mentions relatives à l’utilisation de cookies </h3>
                <p>Afin de respecter au maximum la vie privée des utilisateurs du site estimer.com, nous n’utilisons aucun cookie sur le site.</p>
                <h3>Respect de la propriété intellectuelle</h3>
                <p>Toutes les marques, photographies, infographies, contenu textuel, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner le Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
                    Ils sont la propriété pleine et entière de l'Editeur ou de ses partenaires, sauf mentions particulières. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'éditeur, sont strictement interdites. Le fait pour l'éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.
                    Seule l'utilisation pour un usage privé dans un cercle de famille est autorisée et toute autre utilisation est constitutive de contrefaçon et/ou d'atteinte aux droits voisins, sanctionnées par Code de la propriété intellectuelle.
                    La reprise de tout ou partie de ce contenu nécessite l'autorisation préalable de l'Éditeur ou du titulaire des droits sur ce contenu.
                </p>
                <h3>Liens hypertextes</h3>
                <p>Le site estimer.com peut contenir des liens hypertexte donnant accès à d'autres sites web édités et gérés par des tiers. L'Editeur ne pourra être tenu responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.
                    La création de liens hypertexte vers le Site ne peut être faite qu'avec l'autorisation écrite et préalable de l'Éditeur.
                </p>

            </div>
    </div>

{% endblock %}
