{% load static %}
<div class="footer mt-44 grid grid-rows-1 divide-y divide-secondary-blue-lightest bg-secondary-blue-darkest">
    <div class="container-fluid grid grid-rows-3 grid-flow-col md:grid-rows-1 md:grid-cols-3">
        <div class="text-white">
            <img src="{% static 'images/logo/logo_white_footer.svg'%}" alt="Logo Estimer.com">
        </div>
        <div class="m-5 text-white">
            <h6 class="text-xs md:my-5 text-secondary-blue-lightest">Site</h6>
            <p><a href="{% url 'agence' %}" class="text-white no-underline">Vous représentez une agence ?</a></p>
            <p><a href="mailto:contact@estimer.com" class="text-white no-underline">Contact</a></p>
        </div>
        <div class="m-5 text-white">
            <h6 class="text-xs md:my-5 text-secondary-blue-lightest">Légal</h6>
            <p><a href="{% url 'mentions-legales' %}" class="text-white no-underline">Mentions légales</a></p>
            <p><a href="#" class="text-white no-underline">Politique de confidentialité</a></p>
        </div>
    </div>
    <div class="container mx-auto w-11/12">
        <p class="text-white mt-5">© 2022 Estimer.com - Tous droits réservés</p>
    </div>

</div>
