<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'estimer/images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'estimer/css/estimer.css'%}">
    {% block headscript %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% include 'layout/navbar.html' %}
{% block body %} {% endblock %}
{% include 'layout/footer.html' %}

    {% block endscript %} {% endblock %}
</body>
</html>
