{% load static %}
<div class="footer">
    <div class="div-block-27">
        <div class="div-block-40"><img
                src="{% static 'estimer/images/5ff599d99a8df67efbdc3807_estimer.svg'%}"
                loading="lazy"
                alt="Logo Estimer.com"
                class="image-9">
            <div class="text-block-33">estimer.com</div>
        </div>
        <div class="div-block-41">
            <div class="columns-21 w-row">
                <div class="w-col w-col-3 margin-bottom"><a href="#" class="link">Contact</a></div>
                <div class="w-col w-col-4"><a href="/mentions-legales" class="link">Mentions légales</a></div>
            </div>
        </div>
    </div>
</div>
