{% load static %}

<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar-3 w-nav">
    <div class="div-block-44"><a href="/" aria-current="page"
                                 class="brand w-nav-brand w--current" aria-label="home"><img
            src="{% static 'estimer/images/5ff599d99a8df67efbdc3807_estimer.svg'%}" loading="lazy" alt="" class="image-8">
        <div class="text-block-32">estimer.com</div>
    </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <!--        <a href="/commune" class="nav-link-2 w-nav-link">Commune</a>-->
            <!--        <a href="/rue" class="nav-link-2 w-nav-link">Rue</a>-->
            <a href="mailto:contact@estimer.com"
               target="_blank"
               rel="noreferrer noopener"
               class="nav-link-2 w-nav-link"
            >Contact</a>
        </nav>
        <!--      <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"-->
        <!--           tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">-->
        <!--        <div class="w-icon-nav-menu"></div>-->
        <!--      </div>-->
    </div>
    <!--    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>-->
</div>