{% load static %}
{#<link rel="stylesheet" type="text/css" href="{% static 'estimer/css/map.css' %}">#}
    <style>
        .map-overlay {
            position: absolute;
            top: 550px;
            bottom: 0;
            right: 0px;
            background: rgba(255, 255, 255, 0.8);
            margin-right: 20px;
            font-family: Arial, sans-serif;
            overflow: auto;
            border-radius: 3px;
            z-index: 500;
        }
        #legend {
            padding: 10px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.10);
            line-height: 18px;
            height: 40px;
            margin-bottom: 40px;
            width: 300px;
        }
        .legend-key {
            display:inline-block;
            border-radius: 0%;
            width: 10px;
            height: 10px;
            margin-right: -4px;
            padding: 0;
        }

    </style>

<div id="map" class="md:w-[1000px] h-[600px] mx-auto">
    <div class='map-overlay text-center' id='legend'>
        <span class="mr-5">< 1500 €</span>
        <span class="legend-key shadow-lg shadow-black" style="background-color: #F2F7FF;"></span>
        <span class="legend-key shadow-lg shadow-black" style="background-color: #DFEAFD;"></span>
        <span class="legend-key shadow-lg shadow-gray-900" style="background-color: #BFD5FA;"></span>
        <span class="legend-key shadow-lg shadow-gray-900" style="background-color: #BAD1F8;"></span>
        <span class="legend-key shadow-lg shadow-gray-900" style="background-color: #7FAAF6;"></span>
        <span class="legend-key shadow-lg shadow-gray-900" style="background-color: #3F80F1;"></span>
        <span class="legend-key shadow-lg shadow-gray-900" style="background-color: #105ADC;"></span>
        <span class="legend-key shadow-lg shadow-gray-900" style="background-color: #0B3C93;"></span>
        <span class="ml-5"> > 4500 €</span>
    </div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet'/>

<script async defer>
    let neighbourhoods = {
        "type": "FeatureCollection",
        "features": JSON.parse('{{ neighbourhoods | escapejs }}'),

    };

    mapboxgl.accessToken = `{{ MAPBOX_PUBLIC_TOKEN }}`;
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10?optimize=true',
        center: [5.05525, 45.33675], // default values. Will be overridden by fitBounds
        zoom: 14, // default value. Will be overridden by fitBounds
    });
    map.addControl(new mapboxgl.NavigationControl());
    const coordinates = neighbourhoods.features.map(feature => feature.geometry.coordinates)
    const allCoordinates = coordinates.flat(3)
    const firstPoint = {
        lng: allCoordinates[0][0],
        lat: allCoordinates[0][1],
    }


    const bounds = allCoordinates.reduce((bounds, coord) => {
            return bounds.extend(coord);
        }
        , new mapboxgl.LngLatBounds()
    );


    map.on('load', function (e) {
        /* Add the data to your map as a layer */
        neighbourhoods.features.forEach(feature =>
            map.addSource(feature.properties.code_iris, {
                'type': 'geojson',
                'data': feature
            })
        );

        neighbourhoods.features.forEach(feature => {
                map.addLayer({
                    'id': `${feature.properties.code_iris}-fill`,
                    'type': 'fill',
                    'source': feature.properties.code_iris,
                    'layout': {},
                    'paint': {
                        'fill-color': feature.properties.color.background,
                        'fill-opacity': 0.5
                    }
                })
                map.on('mouseenter', `${feature.properties.code_iris}-fill`, function(e) {
      	        map.setPaintProperty(`${feature.properties.code_iris}-fill`, 'fill-color', '#a9d3f2');
                map.setPaintProperty(`${feature.properties.code_iris}-fill`, 'fill-opacity', 1);

                });

                map.on('mouseleave', `${feature.properties.code_iris}-fill`, function() {
                map.setPaintProperty(`${feature.properties.code_iris}-fill`, 'fill-color', feature.properties.color.background);
                map.setPaintProperty(`${feature.properties.code_iris}-fill`, 'fill-opacity', 0.5);
                 });

                {# Keep this part usefull for debugging: displays borders when uncommented#}
                {#map.addLayer({#}
                {#    'id': `${feature.properties.code_iris}-outline`,#}
                {#    'type': 'line',#}
                {#    'source': feature.properties.code_iris,#}
                {#    'layout': {},#}
                {#    'paint': {#}
                {#        'line-color': feature.properties.color.background,#}
                {#        'line-width': 2,#}
                {#    }}#}
                {#    );#}
                let test = [];
                test.push(feature.properties.color.background);
                console.log(test);
            {# Duplicated labels because of this: https://github.com/mapbox/mapbox-gl-js/issues/5583#issuecomment-341840524#}
                map.addLayer({
                    'id': `${feature.properties.code_iris}-label`,
                    'type': 'symbol',
                    'source': feature.properties.code_iris,
                    'layout': {
                        'text-field': ['get', 'average_m2_price'],
                        'text-font': ['Montserrat Bold']
                    },
                    'paint':{
                        'text-color': feature.properties.color.text,
                    }
                });

            }

        );



        map.fitBounds(bounds, {padding: 20, duration: 0});
    });

    /**
     * Use Mapbox GL JS's `flyTo` to move the camera smoothly
     * a given center point.
     **/
    function flyToFeature(currentFeature) {
        map.flyTo({
            center: currentFeature.geometry.coordinates,
            zoom: 15
        });
    }

</script>
