{%  extends 'layout/base.html' %}

{% block headscript %}
    <title>Estimer.com - 404</title>
{% endblock %}

{% block body %}
<div class="section">
<div class="w-container">
    <div class="div-block-3">
        <h1 class="heading">Désolé, nous n'avons pas pu trouver de données pour cette addresse.</h1>
        <br/>
        <button
                class="w-button"
                style="margin-top: 40px"
                onclick="location.href='/';"
        >Retourner vers la page d'accueil</button>
    </div>
</div>
</div>
{% endblock %}
