{%  extends 'layout/base.html' %}
{% load static %}
{% block headscript %}
    <title>Estimer.com - 404 Page Not Found</title>
        <meta name="description"
          content="Désolé, nous n'avons pas pu trouver de données pour cette adresse"/>
{% endblock %}

{% block body %}
        <div class="bg-secondary-blue-darkest w-10/12 md:w-7/12 mx-auto rounded-xl mt-12 md:mt-24">
        <div class="md:flex">
            <div class="p-5">
                <h1 class="text-white p-5 text-xl">Désolé, nous n'avons pas pu trouver de données pour cette adresse.</h1>
                <div class="mt-5 text-center md:text-left md:p-5">
                    <a rel="canonical" href="{% url 'home' %}">
                        <button class="btn-secondary">
                            Retourner vers la page d'accueil
                        </button>
                    </a>
                </div>
            </div>

            <div class="mt-auto">
                <img
                        src="{% static 'images/illustrations/houses_question.svg' %}" style="width:1000px;"
                        alt="houses asking  illustration"
                >
            </div>
        </div>
    </div>
{% endblock %}
