{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>Estimer.com | Prix du m2 et évolution du marché de l’immobilier en France.</title>
    <link rel="canonical" href="https://estimer.com"/>
    <meta name="description"
          content="Découvrez les prix du m2 et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="w-3/5 mx-auto mt-8 text-secondary-blue-darkest">Plus de visibilité, plus de mandats</h2>
        <p class="w-3/5 mx-auto mt-8 text-center text-secondary-blue-darkest">Devenez l'agence immobilière exclusive qui représentera votre commune sur Estimer.com
            et obtenez de nouveaux mandats</p>
    </div>
    <div class="container-fluid">
        <img src="{% static 'images/illustrations/computer_agency.png' %}" class="w-3/4 mx-auto mt-8">
    </div>
    <div class="container-fluid mt-8">
        <p class="w-3/5 mx-auto mt-8 text-secondary-blue-darkest">" Lorem ipsum dolor sit amet. Qui aliquam quaerat ex tempora consequatur ut quos earum ut galisum expedita.
            Et ratione minus aut voluptatum veniam a dolorem dolores sed totam quas ut repellat similique et similique
            voluptatum cum odit deserunt."</p>
    </div>
    <div class="container mt-8">
    <div class="flex">
        <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mr-0 w-18 h-18">
        <div class="mx-auto ml-3">
        <h3 class="text-secondary-blue-darkest">Prénom Nom</h3>
        <p class="text-xs">Agence Lorem</p>
        </div>
    </div>
    </div>
    <div class="container mt-8 text-center mb-8">
        <button class="btn-secondary mx-auto w-8/12 p-3 text-secondary-blue-darkest">
                    Obtenez l'exclusivité
        </button>

        <button class="btn-primary mx-auto w-8/12 p-3 mt-8 text-secondary-blue-darkest">
                    Default
        </button>
    </div>

    <div class="container-fluid bg-primary-blue-200 mt-8 w-9/12 mx-auto p-2 rounded-lg">
        <h2 class="text-center text-secondary-blue-darkest mt-5">Renforcez votre notoriété</h2>
        <p class="p-3 mt-3 text-secondary-blue-darkest">Les agences immobilières utilisent Estimer.com pour renforcer leur notoriété dans leur ville
            et signé de nouveaux mandats</p>
        <div class="text-center mt-5">
        <button class="btn-secondary w-8/12 p-3 text-secondary-blue-darkest">
                    Démarrez notre offre
        </button>
        </div>
    </div>
{% endblock %}
