{% extends 'layout/base.html' %}
{% block headscript %}
    <title>Estimer.com - Conditions générales de vente</title>
    <link rel="canonical" href="https://estimer.com/cgv/"/>
    <meta name="description"
          content="Conditions générales de vente du site Estimer.com"/>
    <meta name="robots" content="noindex">
{% endblock %}

{% block body %}
    <div class="container mx-auto md:px-40">
        <h1 class="text-secondary-blue-darkest text-center m-5">Conditions générales de vente</h1>
        <div class="bg-primary-blue-200 p-2 rounded-lg mt-5 ">
            <p class="mt-2 p-2">
                Vanquier SAS est propriétaire d’un site d’informations immobilières, accessible à l’adresse estimer.com.
                Les présentes conditions générales de ventes régissent la vente d’espaces publicitaires par Vanquier
                SAS.
            </p>
            <p class="mt-2 p-2">En cochant la case « J’accepte les Conditions Générales de Vente » lors de
                toute nouvelle commande, l’Acheteur accepte ainsi d’être lié, sans aucune réserve, par les présentes
                conditions générales de ventes à l’exclusion de tous autres documents tels que prospectus, catalogues,
                émis par Vanquier SAS et qui n’ont qu’une valeur purement indicative.
            </p>
            <p class="mt-2 p-2">
                Aucune condition particulière ne peut, sauf acceptation formelle et écrite de Vanquier SAS, prévaloir
                sur les présentes conditions générales de vente. Ceci étant exposé, il a été convenu ce qui suit :
            </p>
        </div>

        <div class="bg-primary-blue-200 p-2 rounded-lg mt-5 ">
            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 1 - Définitions</h2>
            <p class="mt-5 p-2">
                <strong>Acheteur : </strong>désigne un annonceur, intéressé par l’achat d’Espaces Publicitaires sur
                estimer.com.
            </p>
            <p class="mt-5 p-2">
                <strong>Bannière publicitaire : </strong>la Bannière Publicitaire désigne un message ou fonctionnalité à
                caractère promotionnel pour une marque, un produit ou un service commercialisé.
            </p>
            <p class="mt-5 p-2">
                <strong>Espaces Publicitaires : </strong>désigne un ou plusieurs espaces permettant la diffusion d'une
                Bannière Publicitaire.

            </p>
            <p class="mt-5 p-2">
                <strong>Site : </strong>désigne l’ensemble de pages, et le cas échéant de logiciels qui les génèrent
                automatiquement, développées par Vanquier SAS, comprenant des données de différentes natures, et
                notamment des textes, sons, images fixes ou animées, vidéos, bases de données, destinées à être
                consultées par les utilisateurs d’Internet dans le cadre d’un accès libre ou payant à l’adresse suivante
                estimer.com.

            </p>
            <p class="mt-5 p-2">
                <strong>Espace pro : </strong>désigne les pages du Site accessibles en accès restreint par les seuls
                professionnels de l’immobilier.
            </p>

        </div>
        <div class="bg-primary-blue-200 p-2 rounded-lg mt-5 ">
            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 2 - Objet</h2>
            <p class="mt-5 p-2">
                Le présent contrat a pour objet la vente d'Espaces Publicitaires sur le Site, au profit de l’Acheteur
                selon les modalités techniques et financières définies ci-après.
            </p>
        </div>
        <div class="bg-primary-blue-200 p-2 rounded-lg mt-5 ">
            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 3 - Procédure de réalisation des
                commandes</h2>
            <h3 class="text-secondary-blue-darkest mt-3">3.1 - Accès au site</h3>
            <p class="mt-5 p-2">
                L'accès au Site, s'effectue par le réseau Internet 24 heures sur 24, 7 jours sur 7, sauf cas de force
                majeure ou d'évènement hors de contrôle de Vanquier SAS ou en raison d'une opération de maintenance, de
                mises à jour ou d'améliorations techniques, ou pour en faire évoluer le contenu et/ou la présentation.
                Pour toute commande, l’Acheteur conserve à sa charge les frais de télécommunication lors de l’accès à
                internet et de l’utilisation du Site.
            </p>
            <h3 class="text-secondary-blue-darkest mt-3">3.2 - Création du compte</h3>
            <p class="mt-5 p-2">
                Pour effectuer des commandes d’Espaces Publicitaires sur la Site, l’Acheteur doit au préalable procéder
                à la création d’un compte client. Pour ce faire, l’Acheteur doit renseigner en premier lieu sur son
                profil client. Pour poursuivre son inscription, des renseignements complémentaires seront demandés à
                l’Acheteur en fonction du profil sélectionné : nom de la société, adresse postale, numéros de téléphone,
                Email, coordonnées de la personne titulaire du compte (civilité, nom, prénom, fonction, adresse postale,
                email), acceptation des CGV. Sous réserve de la validation du compte par Vanquier SAS, l’Acheteur
                recevra ensuite ses identifiants par mail. Ceux-ci lui sont strictement confidentiels. L’Acheteur
                s’engage à fournir des informations véritables et sincères et à informer Vanquier SAS de tout changement
                les concernant.
            </p>
            <p class="mt-5 p-2">
                L’Acheteur sera seul responsable des conséquences de l’utilisation de son compte, et ce jusqu’à la
                désactivation de celui-ci.
            </p>
            <h3 class="text-secondary-blue-darkest mt-3">3.3 - Désactivation du compte</h3>
            <p class="mt-5 p-2">
                En cas de non respect de tout ou partie des présentes Conditions Générales de Vente, Vanquier SAS se
                réserve la faculté de désactiver de plein droit le compte de l’Acheteur après l’envoi d’un courrier
                électronique resté sans effet pendant un délai de 30 jours et ce, sans aucune indemnité. Dans
                l’hypothèse d’une fraude de la part de l’Acheteur, la désactivation du compte se fera de plein droit,
                sans préavis et sans indemnité. Il en va de même s’il s’avère, après vérification, que les
                renseignements complémentaires demandés à l’Acheteur sont inexacts.
            </p>
            <h3 class="text-secondary-blue-darkest mt-3">3.4 - Passation de la commande</h3>
            <p class="mt-5 p-2">
                Pour effectuer sa commande, l’Acheteur doit suivre les indications figurant sur le Site. Il s'engage à
                remettre à Vanquier SAS des informations promotionnelles à mettre en avant sur l’espace publicitaire
                qu’il aura sélectionné et en adéquation avec les spécifications techniques des supports, telles que
                décrites sur le Site. A défaut, Vanquier SAS ne pourra être tenue pour responsable de la mauvaise
                qualité de reproduction des Bannières Publicitaires.
            </p>
            <p class="mt-5 p-2">
                Par ailleurs, l'Acheteur s'engage à respecter la charte éditoriale du Site au sein des Bannières
                Publicitaires qu'il fournit à Vanquier SAS pour l’intégration dans les Espaces Publicitaires. Vanquier
                SAS pourra refuser, le cas échéant, de diffuser tout Espace Publicitaire qui ne serait pas conforme
                auxdites chartes sous réserve d'en informer préalablement par écrit l'Acheteur. Dans ce cas, aucune
                facturation ne sera due par l’Acheteur et un remboursement pourra avoir lieu. </p>
            <p class="mt-5 p-2">
                Les commandes seront transmises avec un préavis minimum de 5 cinq jours ouvrés avant la date de parution
                de l’Espace Publicitaire : les Bannières Publicitaires seront livrables en fonction des disponibilités.
            </p>
            <p class="mt-5 p-2">
                La commande fait préalablement l’objet d’un récapitulatif qui reprend les Espaces Publicitaires
                commandés par l’Acheteur. Ce dernier valide ensuite sa commande par un « clic » sur l’icône « valider ».
                Ce « double clic » associé à la procédure d’authentification constitue une signature électronique
                valable.
            </p>

            <h3 class="text-secondary-blue-darkest mt-3">3.5 - Exclusivité</h3>
            <p class="mt-5 p-2">
                Vanquier SAS garantit l’exclusivité à l’Acheteur lors de la passation de commande. L’attention de
                l’Acheteur est donc particulièrement attirée sur le fait que d’autres Acheteurs ne pourront pas diffuser
                de bannières publicitaires sur les emplacements publicitaires sélectionnées
            </p>
            <h3 class="text-secondary-blue-darkest mt-3">3.6 - Confirmation de la commande</h3>
            <p class="mt-5 p-2">
                Dès que l’Espace Publicitaire est validé, Vanquier SAS confirmera ensuite à l’Acheteur la prise en
                compte de sa réservation par l’envoi d’un courrier électronique automatique, reprenant les
                caractéristiques essentielles des Espaces Publicitaires et le cas échéant, les difficultés ou réserves
                relatives à la commande passée. Toute commande n'est considérée comme effective que lorsque les centres
                de paiement concernés ont donné leur accord.
            </p>
            <h3 class="text-secondary-blue-darkest mt-3">3.7 - Paiement</h3>
            <p class="mt-5 p-2">
                Le paiement des commandes peut s’effectuer en totalité par carte bancaire (les cartes des réseaux Carte
                Bleue, Visa, Eurocard/Mastercard sont acceptées) ou virement bancaire. Le paiement par carte bancaire
                s’effectue en ligne par l’intermédiaire d’un système de paiement sécurisé et doit intervenir au moment
                de la commande. Toute transmission d'information liée au paiement et en particulier la transmission d'un
                numéro de carte bancaire et de sa date de validité s'opère dans un contexte sécurisé utilisant les
                protocoles en vigueur sur Internet, sur le serveur du prestataire de Vanquier SAS : Stripe.
            </p>
            <p class="mt-5 p-2">
                Toute commande d’Espaces Publicitaires avec paiement par carte bancaire ou prélèvement mensuel n'est
                considérée comme effective que lorsque les centres de paiement concernés ont donné leur accord. Lors du
                débit de la commande, en cas de paiement irrégulier, incomplet ou inexistant, pour quelque raison que ce
                soit, Vanquier SAS se réserve le droit de bloquer la diffusion de l’Espace Publicitaire. L’Acheteur en
                est informé par courrier électronique.
            </p>
            <p class="mt-5 p-2">
                Toute commande d’Espaces Publicitaires par virement bancaire n’est considérée comme effective qu’après
                déblocable des fonds dans un délai de 5 jours ouvrés à compter de la commande. En cas de défaut total ou
                partiel de paiement du prix dans les 5 jours ouvrés à compter de la commande, la commande est annulée.
            </p>
            <p class="mt-5 p-2">
                Vanquier SAS se réserve la possibilité de demander à l’Acheteur des justificatifs d’identité et de
                domiciliation. Dans ce cas, la commande ne sera confirmée qu’à compter de la réception et de la
                validation des pièces justificatives. Dans une telle hypothèse, le délai de mise en ligne des Bannières
                Publicitaires ou Fiches d’informations peut être influencé par tout retard de transmission et de
                validation de ces pièces. En cas d’absence de transmission de ces pièces dans un délai de 24 heures,
                Vanquier SAS se réserve la faculté d’annuler la commande et de rembourser l’Acheteur du montant de sa
                commande.
            </p>
            <h3 class="text-secondary-blue-darkest mt-3">3.8 - Facture</h3>
            <p class="mt-5 p-2">
                La facture est établie lors de la mise en ligne des Bannières Publicitaires.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 4 - Obligations de l’Acheteur</h2>
            <p class="mt-5 p-2">
                Les obligations mises à la charge de l’Acheteur constituent des obligations impératives, dont le respect
                conditionne directement et totalement la bonne exécution par Vanquier SAS de ses obligations. En cas de
                manquement total ou partiel à ces obligations, la responsabilité de Vanquier SAS ne pourra être engagée
                à quelque titre que ce soit.
            </p>
            <p class="mt-5 p-2">
                L’Acheteur s’engage à ce que les Bannières Publicitaires ne contiennent que des éléments objectifs et
                informationnels faisant la promotion de l’Acheteur. Tout manquement total ou partiel aux obligations
                rappelées ci-dessus entraînera le droit pour Vanquier SAS de suspendre, à tout moment et sans préavis,
                la mise en ligne de Bannières Publicitaires qui ne répondraient pas aux conditions posées à l’article 4.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 5 - Obligations de Vanquier SAS</h2>
            <p class="mt-5 p-2">
                Vanquier SAS s'engage à réaliser la mise en ligne des Bannières Publicitaires ou Fiches d’informations
                selon les spécifications figurant sur le Site. Vanquier SAS s’engage à déployer les moyens nécessaires
                afin d’assurer la permanence, la continuité et la qualité du Site et est tenue à ce titre d’une
                obligation de moyens. Elle s’efforcera de maintenir un accès au service 24 heures sur 24 chaque jour de
                l’année, sauf en cas de force majeure tel que visée à l’article ci-dessous (Force majeure) ou en raison
                d'une opération de maintenance, de mises à jour ou d'améliorations techniques, ou pour en faire évoluer
                le contenu et/ou la présentation.
            </p>
            <p class="mt-5 p-2">
                Dans la mesure du possible, Vanquier SAS informera l’Acheteur préalablement à une opération de
                maintenance ou de mise à jour. L’Acheteur renonce par avance à rechercher la responsabilité de Vanquier
                SAS au titre du fonctionnement et de l'exploitation du Site. De même, la responsabilité de Vanquier SAS
                ne saurait être recherchée en cas de dysfonctionnement, d'une impossibilité d'accès, ou de mauvaises
                conditions d'utilisation du Site imputables à un équipement non adapté, à des perturbations imputables
                au fournisseur d'accès de l’Acheteur, à l'encombrement du réseau Internet, et/ou pour toute autre raison
                extérieure à Vanquier SAS.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 6 - Durée de la mise en ligne et
                résiliation</h2>
            <p class="mt-5 p-2">
                Le présent contrat est conclu pour la durée sélectionnée par l’Acheteur lors de la passation de sa
                commande.
            </p>
            <p class="mt-5 p-2">
                Le contrat est renouvelable par tacite reconduction pour une durée indéterminée sauf dénonciation par
                email par l’Acheteur un (1) mois avant le terme souhaité. Tout mois commencé est dû dans sa totalité
                même si la dénonciation intervient en milieu de mois.
            </p>
            <p class="mt-5 p-2">
                Vanquier SAS pourra par ailleurs résilier le présent contrat par lettre recommandée avec accusé de
                réception à tout moment, en cas de manquement par l'Acheteur à ses obligations, et ce, après mise en
                demeure adressée à l’Acheteur par courrier recommandé avec demande d'avis de réception, demeurée sans
                effet pendant quinze 15 jours, sans préjudice de tous autres droits et actions que Vanquier SAS pourra
                mettre en œuvre en vue de l’indemnisation de son préjudice.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 7 - Évolution de la réglementation</h2>
            <p class="mt-5 p-2">
                En cas de modification ou d'évolution de la législation française, celle-ci est immédiatement
                applicable. Si la modification de cette législation avait pour but d'interdire la parution de l’Espace
                Publicitaire rendant impossible l'exécution du contrat, Vanquier SAS pourra interrompre, sans indemnité,
                la diffusion des Bannières Publicitaires en adressant à l’Acheteur une lettre recommandée avec accusé de
                réception.

            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 8 - Tarifs</h2>
            <p class="mt-5 p-2">
                Les descriptifs des Espaces Publicitaires présentés sur le Site précisent, pour chaque Espace
                Publicitaire, les caractéristiques incluses dans le prix. Les prix sont indiqués en Euros et sont
                entendus hors taxes. Le taux en vigueur est celui applicable au jour de la facturation.
            </p>
            <p class="mt-5 p-2">
                Les tarifs sont fonction de l’espace publicitaire sélectionné et sont consultables directement sur
                https://estimer.com/agence, ou sur demande directement auprès de Vanquier SAS à l’adresse
                contact@estimer.com.
            </p>
            <p class="mt-5 p-2">
                Vanquier SAS se réserve le droit, à tout moment et sans préavis, de modifier ses tarifs. Ces
                modifications entreront en vigueur dès leur mise en ligne sur le Site, étant cependant précisé que la
                commande d’Espaces Publicitaires interviendra sur la base des tarifs en vigueur et convenus en vigueur à
                la date de la transaction. A défaut, l’Acheteur est réputé avoir accepté ces modifications en continuant
                à utiliser le Site. L’Acheteur est donc invité à consulter la version la plus récente en ligne des
                tarifs sur le Site.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 9 - Propriété intellectuelle</h2>

            <p class="mt-5 p-2">
                L’Acheteur déclare que tous les documents, textes, images, et plus généralement toutes les données ou
                informations de quelques nature que ce soit insérées dans les Bannières Publicitaires transmises à
                Vanquier SAS sont la propriété pleine et entière de l’Acheteur, ou à tout le moins que ce dernier
                dispose des droits nécessaires à leur utilisation par Vanquier SAS et à leur incorporation dans l’Espace
                Publicitaire par ce dernier.
            </p>
            <p class="mt-5 p-2">
                L'Acheteur concède à Vanquier SAS les droits de reproduction d’utilisation, d’adaptation, de traduction,
                de chargement et de diffusion desdits documents exclusivement à l'usage de publication sur le réseau
                Internet, dans le cadre d'un ou plusieurs Espaces Publicitaires, dans le cadre exclusif et pendant la
                durée du présent contrat.
            </p>
            <p class="mt-5 p-2">
                L’Acheteur garantit Vanquier SAS contre tout recours des tiers quant à la propriété de ces Bannières
                Publicitaires et à la liberté de leur utilisation et exploitation.
            </p>
            <p class="mt-5 p-2">
                Il veillera à ce titre à ce que Vanquier SAS ne puisse être inquiétée en quoi que ce soit en raison
                notamment de l’utilisation, de la reproduction, de l’adaptation, de la traduction, du chargement, de la
                diffusion et de la représentation de tout ou partie des Bannières Publicitaires ou Fiches d’informations
                dans les Espaces Publicitaires transmises par l’Acheteur.
            </p>
            <p class="mt-5 p-2">
                L’Acheteur s’engage à relever et garantir Vanquier SAS de toute condamnation prononcée par décision de
                justice définitive ou exécutoire par provision qui pourrait être prononcée à l’encontre de cette
                dernière en raison desdites Bannières Publicitaires fournies par l’Acheteur dans le cadre du présent
                contrat. Il en sera de même de toute somme payée par l’Acheteur dans le cadre d’une transaction destinée
                à mettre fin à l’amiable à un litige ayant pour base les Bannières Publicitaires fournies par l’Acheteur
                dans le cadre du présent contrat.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 10 - Responsabilités</h2>
            <p class="mt-5 p-2">
                Les Bannières Publicitaires paraissent sous la seule responsabilité de l'Acheteur, Vanquier SAS étant
                dégagée de toute responsabilité. A ce titre, l’Acheteur doit être assuré pour les conséquences de sa
                responsabilité civile au titre de la diffusion des Bannières Publicitaires.
            </p>
            <p class="mt-5 p-2">
                L'Acheteur s'engage à indemniser Vanquier SAS de tout préjudice subi et la garantit contre toute action
                fondée sur ces insertions.
            </p>
            <p class="mt-5 p-2">
                Vanquier SAS exclut toute responsabilité à quelque titre que ce soit pour les dommages indirects tels
                que manque à gagner, préjudice commercial ou financier, conséquence du recours de tiers ou perte
                trouvant leur origine ou étant la conséquence des Bannières Publicitaires, quand bien même Vanquier SAS
                en aurait été préalablement avisée, ainsi que des dommages causés à des personnes ou à des biens
                distincts de l'objet du contrat.
            </p>
            <p class="mt-5 p-2">
                En outre, Vanquier SAS n'est en aucun cas responsable du préjudice subi par l’Acheteur du fait de :
                l’interruption momentanée du Site consécutive à sa mise à jour, ou nécessaire à son bon fonctionnement
                et/ou au développement du système informatique afin d'en améliorer les performances et/ou d'en assurer
                la maintenance.
                la difficulté de fonctionnement ou interruption momentanée du Site non imputable à Vanquier SAS,
                notamment en cas d'interruption des services d'hébergement du Site, d'électricité ou des
                télécommunications, résultant d'une défaillance du réseau téléphonique ou du fournisseur d'accès à
                Internet de l’Acheteur ;

            </p>
            <p class="mt-5 p-2">
                En tout état de cause, dans l'hypothèse où la responsabilité serait retenue à quelque titre que ce soit,
                le montant total des indemnités que Vanquier SAS pourrait être amenée à verser à l’Acheteur ne pourra
                excéder le montant perçu par Vanquier SAS au titre du présent contrat et ce, quel que soit le fondement
                juridique de la réclamation et la procédure employée pour la faire aboutir.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 11 - Références</h2>
            <p class="mt-5 p-2">
                L'Acheteur autorise Vanquier SAS à mentionner son nom commercial sur une liste de références qu'il
                pourra diffuser auprès de ses prospects.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 12 - Modifications des conditions générales
                de vente</h2>
            <p class="mt-5 p-2">
                Vanquier SAS pourra modifier à tout moment les présentes Conditions Générales de Vente. Les
                modifications entreront en vigueur dès le jour de leur mise en ligne sur le Site. Les Acheteurs sont
                donc invités à consulter la version constamment en ligne sur le Site.
            </p>
            <p class="mt-5 p-2">
                Dès lors, plusieurs possibilités se présenteront aux Acheteurs :
            </p>
            <p class="mt-5 p-2">
                si la mise en ligne d’Espaces Publicitaires n’a pas encore expiré, l’Acheteur peut exiger le maintien
                des Conditions Générales de Ventes qui étaient en vigueur lors de la souscription de sa commande ;
                À défaut, toute nouvelle commande sera conclue en application des nouvelles Conditions Générales de
                Vente en vigueur à la date de la souscription de ladite commande.

            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 13 - Force majeure</h2>
            <p class="mt-5 p-2">
                La responsabilité de l'une ou l'autre des parties ne pourra être recherchée si l'exécution du contrat
                est retardée ou empêchée en raison d'un cas de force majeure ou d'un cas fortuit, du fait de l'autre
                partie ou d'un tiers ou de causes extérieures telles que les conflits sociaux, intervention des
                autorités civiles ou militaires, catastrophes naturelles, incendies, dégâts des eaux, interruption du
                réseau de télécommunications ou du réseau électrique.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 14 - Force des conditions générales de
                vente</h2>
            <p class="mt-5 p-2">
                Toute tolérance de l’une des Parties envers la non exécution ou l’exécution imparfaite par l’autre
                partie d’une ou plusieurs clauses ou obligations des présentes conditions générales, que ce soit de
                façon temporaire ou permanente, ne saurait s’analyser en une renonciation, même implicite, aux droits
                découlant de ladite clause.
            </p>
            <p class="mt-5 p-2">
                Dans l’hypothèse où l’une quelconque des clauses des présentes conditions générales viendrait à être
                invalidée par décision de justice ou en raison d’une modification de la loi, les parties conviennent
                expressément que les autres dispositions du contrat ne seront nullement affectées et s’engagent à
                négocier dans les plus brefs délais afin de trouver une clause légalement valable à effet de remplacer
                la clause ainsi invalidée.
            </p>

            <h2 class="text-secondary-blue-darkest mt-3 text-center">Article 15 - Loi applicable - Différends</h2>
            <p class="mt-5 p-2">
                Les présentes conditions générales sont soumises à la loi française. D'un commun accord, les parties
                décident d'attribuer compétence exclusive au Tribunal de Commerce de Montpellier pour tout litige
                pouvant s'élever du fait de l'interprétation, de l'exécution ou de la cessation des présentes conditions
                générales.

            </p>


        </div>


    </div>
{% endblock %}
