{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>Estimer.com | Prix du m2 et évolution du marché de l’immobilier en France.</title>
    <link rel="canonical" href="https://estimer.com"/>
    <meta name="description"
          content="Découvrez les prix du m2 et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
{% endblock %}

{% block body %}
<div class="container-fluid mx-auto bg-primary-blue-100 border-t-1">
        <h1 class="text-secondary-blue-darkest text-center font-light"><strong class="font-bold">Estimez</strong> votre bien immobilier</h1>
        <p class="text-center">Nous ne collectons pas vos données personnelles.</p>
    <div class="flex items-center justify-center mt-5">
        <form name="address-form" data-name="Address Form" action="/commune/search" method="POST">
            {% csrf_token %}
            <div class="relative">
                    <input type="text" name="address" class="p-2 text-sm rounded-full md:w-96" maxlength="256" placeholder="Search..." autocomplete="off" required>
                <span class="absolute inset-y-0 right-0 flex items-center">
                    <button type="submit" class="btn-secondary py-2">
                    Estimer
                    </button>
                </span>
            </div>
        </form>
    </div>
    <img src="{% static 'images/illustrations/city.svg' %}" class="object-cover h-full w-full">
    <div class="bg-secondary-blue-darkest text-white text-center">
        <div class="p-10 md:grid md:grid-cols-4">
            <div class="md:block">
                <h3>15 millions</h3>
                <p>de ventes listées</p>
            </div>
            <div class="md:block">
                <h3>5 années</h3>
                <p>d'historique de transactions</p>
            </div>
            <div class="hidden md:block">
                <h3>31 000</h3>
                <p>communes analysées</p>
            </div>
            <div class="hidden md:block">
                <h3>0</h3>
                <p>données personnelles collectées</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-44">
<h2 class="text-center text-secondary-blue-darkest mt-8">Comment ça marche ?</h2>
    <div class="text-center md:grid md:grid-cols-3">
        <div class="mt-5 md:block md:mt-8">
            <div class="box-content w-12 p-2 border-4 rounded-lg border-primary-blue-300 bg-primary-blue-300 text-primary-blue-700 mx-auto">
                <p class="font-bold text-lg">1</p>
            </div>
            <h3 class="mt-8 text-secondary-blue-darkest">Cherchez</h3>
            <p class="mt-5 text-center">Entrez l'adresse du bien à estimer dans la barre de recherche.</p>
        </div>
        <div class="mt-5 md:block md:mt-8">
            <div class="box-content w-12 p-2 border-4 rounded-lg border-primary-blue-300 bg-primary-blue-300 text-primary-blue-700 mx-auto">
                <p class="font-bold text-lg">2</p>
            </div>
            <h3 class="mt-8 text-secondary-blue-darkest">Découvrez</h3>
            <p class="mt-5 text-center">Découvrez tous les prix des biens vendus à proximité sur les 5 dernières années, et estimez votre bien en fonction.</p>
        </div>
        <div class="mt-5 md:block md:mt-8">
            <div class="box-content w-12 p-2 border-4 rounded-lg border-primary-blue-300 bg-primary-blue-300 text-primary-blue-700 mx-auto">
                <p class="font-bold text-lg">3</p>
            </div>
            <h3 class="mt-8 text-secondary-blue-darkest">Affinez</h3>
            <p class="mt-5 text-center">Contactez un agent immobilier à proximité pour une estimation plus précise et gratuite.</p>
        </div>
    </div>
    <div class="mt-8 text-center">
        <button class="btn-secondary">
                    Estimez dès maintenant
        </button>
    </div>
</div>
<div class="container-fluid bg-primary-blue-200 mt-44">
<h2 class="text-center text-secondary-blue-darkest p-8">Pourquoi utiliser estimer.com ?</h2>
        <div class="md:grid md:grid-cols-2">
            <div class="flex">
                <img src="{% static 'images/icons/euros_crossed.svg' %}" class="ml-8" style="height:72px; width:72px;">
                <div class="ml-5 text-secondary-blue-darkest text-xs">
                    <h4 class="text-secondary-blue-darkest">Gratuit</h4>
                    L'utilisation du site estimer.com est 100% gratuite, sans aucune restriction.
                </div>
            </div>
            <div class="flex mt-8">
                <img src="{% static 'images/icons/cloud.svg' %}" class="ml-8" style="height:72px; width:72px;">
                <div class="ml-5 text-secondary-blue-darkest text-xs">
                    <h4 class="text-secondary-blue-darkest">Confidentiel</h4>
                    À l'opposé des autres sites d'estimations immobilières, nous ne stockons aucune de vos données personnelles.
                </div>
            </div>
            <div class="flex mt-8">
                <img src="{% static 'images/icons/map.svg' %}" class="ml-8" style="height:72px; width:72px;">
                <div class="ml-5 text-secondary-blue-darkest text-xs">
                    <h4 class="text-secondary-blue-darkest">Agent immobilier local</h4>
                    Nous avons sélectionné, pour chaque commune, une agence locale à même d'estimer votre bien gratuitement, pour en maximiser la valeur.
                </div>
            </div>
            <div class="flex mt-8">
                <img src="{% static 'images/icons/clock.svg' %}" class="ml-8" style="height:64px; width:64px;">
                <div class="ml-5 text-secondary-blue-darkest text-xs">
                    <h4 class="text-secondary-blue-darkest">Rapide</h4>
                    Pas de formulaire compliqué à remplir, l'estimation est simple et rapide.
                </div>
            </div>
            <div class="flex mt-8">
                <img src="{% static 'images/icons/database.svg' %}" class="ml-8" style="height:64px; width:64px;">
                <div class="ml-5 text-secondary-blue-darkest text-xs">
                    <h4 class="text-secondary-blue-darkest">Données réelles</h4>
                    Nous nous basons sur les transactions réelles historiques produites par la direction générale des Finances publiques.
                </div>
            </div>
        </div>
        <div class="mt-8 p-8 text-center">
        <button class="btn-secondary">
                    Obtenez une estimation
        </button>
    </div>
</div>
<div class="container-fluid bg-secondary-blue-darkest w-4/5 mx-auto rounded-lg mt-44">
    <div class="md:flex">
    <div class="p-5">
        <h3 class="text-white p-5">Une Question ?</h3>
        <p class="text-white p-5">Si vous avez la moindre question concernant estimer.com, n'hesitez pas à nous contacter. Nous ferons notre possible pour vous répondre dans les plus brefs délais.</p>
        <div class="mt-5 text-center md:text-left md:p-5">
        <button class="btn-secondary">
                   Contactez-nous
        </button>
        </div>
    </div>

    <div class="mt-auto">
        <img src="{% static 'images/illustrations/houses_question.svg' %}" style="width:2000px;">
    </div>
    </div>
</div>
<div class="container-fluid mt-44">
    <h2 class="text-secondary-blue-darkest text-center">Les communes les plus populaires</h2>
    <ul class="text-center text-xs mt-8 md:grid md:grid-cols-3">
        <li><a href="{% url 'city' slug="toulouse-31100" %}">Toulouse</a></li>
        <li><a href="{% url 'city' slug="nice-06200" %}">Nice</a></li>
        <li><a href="{% url 'city' slug="nantes-44100" %}">Nantes</a></li>
        <li><a href="{% url 'city' slug="bordeaux-33200" %}">Bordeaux</a></li>
        <li><a href="{% url 'city' slug="montpellier-34080" %}">Montpellier</a></li>
        <li><a href="{% url 'city' slug="lille-59000" %}">Lille</a></li>
        <li><a href="{% url 'city' slug="rennes-35000" %}">Rennes</a></li>
        <li><a href="{% url 'city' slug="toulouse-31100" %}">Nîmes</a></li>
        <li><a href="{% url 'city' slug="saint-etienne-42000" %}">Saint-Etienne</a></li>
        <li><a href="{% url 'city' slug="lyon-1er-arrondissement-69001" %}">Lyon</a></li>
    </ul>
</div>
<div class="container-fluid bg-primary-blue-200 w-4/5 mx-auto rounded-lg mt-44 pt-12">
    <div class="md:flex justify-center">
        <div class="p-5 md:p-0 md:absolute md:w-5/12">
            <h2 class="text-secondary-blue-darkest p-5 text-center">Vous êtes un professionnel ?</h2>
            <p class="text-secondary-blue-darkest p-5 text-l text-center">Nous vous proposons de représenter vos communes sur notre site</p>
            <div class="mt-5 text-center md:p-5">
                <button class="btn-secondary w-4/5 p-3 md:w-2/4">
                   Découvrez notre offre
                </button>
            </div>
        </div>
        <div class="mx-auto md:mt-8 md:w-12/12">
            <img src="{% static 'images/illustrations/city_light.svg' %}">
        </div>
    </div>
</div>


{% endblock %}
