{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>Estimer.com | Prix du m2 et évolution du marché de l’immobilier en France.</title>
    <link rel="canonical" href="https://estimer.com"/>
    <meta name="description"
          content="Découvrez les prix du m2 et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
{% endblock %}

{% block body %}
<div class="container-fluid mx-auto bg-primary-blue-100 border-t-1">
        <h1 class="text-secondary-blue-darkest text-center font-light"><strong class="font-bold">Estimez</strong> votre bien immobilier</h1>
        <p class="text-center">Nous ne collectons pas vos données personnelles.</p>
    <div class="flex items-center justify-center mt-5">
        <form name="address-form" data-name="Address Form" action="/commune/search" method="POST">
            {% csrf_token %}
            <div class="relative">
                    <input type="text" name="adress" class="p-2 text-sm rounded-full" maxlength="256" placeholder="Search..." autocomplete="off" required>
                <span class="absolute inset-y-0 right-0 flex items-center">
                    <button type="submit" class="btn-secondary">
                    Estimer
                    </button>
                </span>
            </div>
        </form>
    </div>
    <img src="{% static 'images/illustrations/city.svg' %}" class="object-cover h-full w-full">
    <div class="bg-secondary-blue-darkest text-white text-center">
        <div class="p-10">
            <h3>15 millions</h3>
            <p>de ventes listées</p>
            <h3 class="mt-8">5 années</h3>
            <p>d'historique de transactions</p>
        </div>
    </div>
</div>


{% endblock %}
