@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,300&family=Rubik:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}


a {
  background-color: transparent
}

a:active, a:hover {
  outline: 0
}


h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border: 0
}


button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type="button"], input[type="reset"] {
  -webkit-appearance: button;
  cursor: pointer
}


input {
  line-height: normal
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  height: 100%
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px
}

button, html input[type="button"], input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold
}

.w-row:before, .w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2
}

.w-row:after {
  clear: both
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0
}

.w-col-1 {
  width: 8.33333333%
}

.w-col-2 {
  width: 16.66666667%
}

.w-col-3 {
  width: 25%
}

.w-col-4 {
  width: 33.33333333%
}

.w-col-5 {
  width: 41.66666667%
}

.w-col-6 {
  width: 50%
}

.w-col-7 {
  width: 58.33333333%
}

.w-col-8 {
  width: 66.66666667%
}

.w-col-9 {
  width: 75%
}

.w-col-10 {
  width: 83.33333333%
}

.w-col-11 {
  width: 91.66666667%
}

.w-col-12 {
  width: 100%
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px
  }

  .w-hidden-main {
    display: inherit !important
  }

  .w-hidden-medium {
    display: none !important
  }

  .w-col-medium-1 {
    width: 8.33333333%
  }

  .w-col-medium-2 {
    width: 16.66666667%
  }

  .w-col-medium-3 {
    width: 25%
  }

  .w-col-medium-4 {
    width: 33.33333333%
  }

  .w-col-medium-5 {
    width: 41.66666667%
  }

  .w-col-medium-6 {
    width: 50%
  }

  .w-col-medium-7 {
    width: 58.33333333%
  }

  .w-col-medium-8 {
    width: 66.66666667%
  }

  .w-col-medium-9 {
    width: 75%
  }

  .w-col-medium-10 {
    width: 83.33333333%
  }

  .w-col-medium-11 {
    width: 91.66666667%
  }

  .w-col-medium-12 {
    width: 100%
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto
  }
}

@media screen and (max-width: 767px) {
  .w-hidden-main {
    display: inherit !important
  }

  .w-hidden-medium {
    display: inherit !important
  }

  .w-hidden-small {
    display: none !important
  }

  .w-row, .w-container .w-row {
    margin-left: 0;
    margin-right: 0
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto
  }

  .w-col-small-1 {
    width: 8.33333333%
  }

  .w-col-small-2 {
    width: 16.66666667%
  }

  .w-col-small-3 {
    width: 25%
  }

  .w-col-small-4 {
    width: 33.33333333%
  }

  .w-col-small-5 {
    width: 41.66666667%
  }

  .w-col-small-6 {
    width: 50%
  }

  .w-col-small-7 {
    width: 58.33333333%
  }

  .w-col-small-8 {
    width: 66.66666667%
  }

  .w-col-small-9 {
    width: 75%
  }

  .w-col-small-10 {
    width: 83.33333333%
  }

  .w-col-small-11 {
    width: 91.66666667%
  }

  .w-col-small-12 {
    width: 100%
  }
}

@media screen and (max-width: 479px) {
  .w-container {
    max-width: none
  }

  .w-hidden-main {
    display: inherit !important
  }

  .w-hidden-medium {
    display: inherit !important
  }

  .w-hidden-small {
    display: inherit !important
  }

  .w-hidden-tiny {
    display: none !important
  }

  .w-col {
    width: 100%
  }

  .w-col-tiny-1 {
    width: 8.33333333%
  }

  .w-col-tiny-2 {
    width: 16.66666667%
  }

  .w-col-tiny-3 {
    width: 25%
  }

  .w-col-tiny-4 {
    width: 33.33333333%
  }

  .w-col-tiny-5 {
    width: 41.66666667%
  }

  .w-col-tiny-6 {
    width: 50%
  }

  .w-col-tiny-7 {
    width: 58.33333333%
  }

  .w-col-tiny-8 {
    width: 66.66666667%
  }

  .w-col-tiny-9 {
    width: 75%
  }

  .w-col-tiny-10 {
    width: 83.33333333%
  }

  .w-col-tiny-11 {
    width: 91.66666667%
  }

  .w-col-tiny-12 {
    width: 100%
  }
}

@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px
  }
}

.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000
}

.w-nav:before, .w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2
}

.w-nav:after {
  clear: both
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto
}

.w-nav-menu {
  position: relative;
  float: right
}

@media screen and (max-width: 991px) {
  .w-nav[data-collapse="medium"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block
  }
}

@media screen and (max-width: 767px) {
  .w-nav[data-collapse="small"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="small"] .w-nav-button {
    display: block
  }

  .w-nav-brand {
    padding-left: 10px
  }
}

@media screen and (max-width: 479px) {
  .w-nav[data-collapse="tiny"] .w-nav-menu {
    display: none
  }

  .w-nav[data-collapse="tiny"] .w-nav-button {
    display: block
  }
}

.w-tabs {
  position: relative
}

.w-tabs:before, .w-tabs:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2
}

.w-tabs:after {
  clear: both
}

.w-tab-menu {
  position: relative
}

.w-tab-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 9px 30px;
  text-align: left;
  cursor: pointer;
  color: #222222;
  background-color: #dddddd
}

.w-tab-link.w--current {
  background-color: #C8C8C8
}

.w-tab-link:focus {
  outline: 0
}

.w-input, .w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.w-tab-content {
  position: relative;
  display: block;
  overflow: hidden
}

.w-tab-pane {
  position: relative;
  display: none
}

.w--tab-active {
  display: block
}

@media screen and (max-width: 479px) {
  .w-tab-link {
    display: block
  }
}

.w-ix-emptyfix:after {
  content: ""
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.w-dyn-empty {
  padding: 10px;
  background-color: #dddddd
}

.w-dyn-hide {
  display: none !important
}

.w-dyn-bind-empty {
  display: none !important
}

.w-condition-invisible {
  display: none !important
}

/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.section {
  position: relative;
  display: block;
  height: auto;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("https://assets.website-files.com/5fe9e3fd2d0827856492ad0e/5ff4319addfe40c306af1fc7_illustration.jpg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.heading {
  font-family: Rubik, sans-serif;
  color: #444;
  font-weight: 500;
  text-align: center;
}

.form-block {
  margin-top: 20px;
  margin-bottom: auto;
  border-style: none;
  border-width: 1px;
  border-color: #f0f0f0;
  display: block;
}

.search-container {
  margin-top: 60px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.text-field {
  width: 80%;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.13);
  background-color: hsla(0, 0%, 100%, 0.82);
}

.submit-button {
  width: 20%;
  height: 100%;
  float: none;
  background-color: #1378f8;
}

.div-block {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -5%;
  z-index: 100;
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #dbdbdb;
  background-color: transparent;
}

.section-2 {
  position: relative;
  padding-top: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid hsla(0, 0%, 85.9%, 0.59);
  background-color: transparent;
}

.text-block {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.body {
  background-color: #fff;
  font-family: Rubik, sans-serif;
}

.div-block-2 {
  padding: 20px;
  border-right: 1px none #dbdbdb;
}

.text-block-2 {
  margin-top: 10px;
  text-align: center;
}

.data-block {
  padding-left: 20px;
  padding-right: 20px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 78vh;
  /*padding-top: 60px;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  background-color: #fff;
}

.nav-link {
  color: #fff;
}

.heading-2 {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}

.div-block-4 {
  padding-top: 40px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  border-radius: 50px;
}

.text-block-3 {
  color: #1378f8;
  font-size: 23px;
}

.image {
  display: block;
  width: 30px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.text-block-4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.text-block-5 {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.div-block-6 {
  padding: 20px;
}

.div-block-7 {
  width: 10%;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #dbdbdb;
}

.section-3 {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dbdbdb;
  background-color: transparent;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-2 {
  width: 40px;
}

.text-block-6 {
  font-size: 18px;
  font-weight: 500;
}

.div-block-9 {
  padding-right: 60px;
  padding-left: 60px;
}

.text-block-7 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.div-block-11 {
  margin-top: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
  background-color: transparent;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-8 {
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.div-block-12 {
  padding: 15px 20px;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-9 {
  color: #fff;
  font-size: 18px;
}

.div-block-13 {
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(40, 132, 251, 0.27);
  border-radius: 10px;
  background-color: #fff;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-14 {
  padding-right: 5%;
  padding-left: 5%;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.maison {
  border-radius: 10px;
  background-color: transparent;
  color: #777;
  font-size: 13px;
  text-align: center;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-15 {
  height: 200px;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #ffe091;
}

.div-block-16 {
  height: 600px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.text-block-10 {
  margin-top: 10px;
  color: #fff;
}

.columns-5 {
  margin-top: 20px;
}

.texte-intro-donn-es {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}

.appartement {
  border-radius: 10px;
  background-color: transparent;
  color: #929292;
  text-align: center;
}

.m2-moyen {
  color: #fff;
}

.div-block-17 {
  display: block;
  width: 40%;
  height: 100%;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2884fb;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-11 {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.image-3 {
  width: 90%;
  height: 90%;
}

.columns-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(40, 132, 251, 0.27);
}

.div-block-20 {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-image: url("https://assets.website-files.com/5fe9e3fd2d0827856492ad0e/5ff231276f3b7d9de55575f2_logo%20helium%20immobilier.jpg");
  background-position: 50% 50%;
  background-size: 95%;
  background-repeat: no-repeat;
}

.nb-pieces {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

.prix-de-vente {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.text-block-12 {
  margin-top: 10px;
  color: #fff;
}

.text-field-2 {
  margin-top: 10px;
  background-color: transparent;
  text-align: center;
}

.text-block-13 {
  text-align: center;
}

.radio-button-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-2 {
  background-color: #fff;
  font-family: Rubik, sans-serif;
}

.section-4 {
  height: auto;
}

.div-block-21 {
  height: auto;
  padding: 0px 5%;
  background-color: transparent;
}

.heading-3 {
  font-size: 25px;
  font-weight: 300;
}

.text-block-14 {
  margin-top: 0px;
  color: #5f5f5f;
}

.text-block-15 {
  margin-top: 0px;
  color: #848788;
  font-size: 12px;
}

.text-block-16 {
  margin-top: 10px;
  color: #066bef;
  font-size: 22px;
  font-weight: 500;
}

.column-8 {
  padding-left: 0px;
}

.image-4 {
  width: auto;
}

.columns-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-22 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #ddd #ddd #f8f6f6;
  background-color: #fff;
}

.div-block-23 {
  padding: 0px;
  border-radius: 10px;
  background-color: transparent;
}

.columns-8 {
  margin-top: 20px;
}

.columns-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-17 {
  margin-top: 30px;
  color: #5f5f5f;
  font-size: 12px;
}

.columns-10 {
  margin-top: 30px;
}

.agent-img {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-image: url("https://assets.website-files.com/5fe9e3fd2d0827856492ad0e/5ff2ebbbc5d07129eb803040_pexels-stefan-stefancik-91227.jpg");
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
}

.text-block-18 {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}

.text-block-19 {
  margin-top: 5px;
  color: #848788;
  text-align: center;
}

.text-block-20 {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

.text-block-21 {
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
}

.div-block-25 {
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
}

.div-block-26 {
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #fff;
}

.body-3 {
  font-family: Rubik, sans-serif;
}

.navbar-2 {
  border-bottom: 1px solid #dfdfdf;
  background-color: transparent;
}

.section-5 {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dbdbdb;
}

.div-block-27 {
  padding-right: 5%;
  padding-bottom: 0px;
  padding-left: 5%;
  border-bottom: 1px none #d4d4d4;
}

.div-block-28 {
  height: 100px;
  padding-bottom: 40px;
  border-bottom: 1px none #e2e2e2;
}

.div-block-29 {
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1378f8;
  color: #fff;
}

.div-block-29.blanc {
  background-color: #fff;
}

.form {
  height: 100%;
}

.navbar-3 {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  background-color: transparent;
}

.text-block-22 {
  color: #747474;
  text-align: center;
}

.question {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dbdbdb;
}

.columns-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-23 {
  text-align: left;
}

.image-5 {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-block-24 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.gris {
  color: #333;
}

.section-6 {
  padding-top: 0px;
  padding-bottom: 20px;
}

.div-block-30 {
  padding: 20px;
  margin-right: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.heading-4 {
  margin-bottom: 0px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

.column-9 {
  padding-right: 0px;
  padding-left: 0px;
}

.columns-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.text-block-25 {
  margin-top: 10px;
  text-align: center;
}

.text-block-26 {
  text-align: center;
}

.text-block-27 {
  font-weight: 700;
}

.text-block-28 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.div-block-31 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.columns-13 {
  margin-top: 20px;
}

.div-block-32 {
  padding: 20px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.div-block-33 {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #bebebe;
  border-radius: 10px;
  background-color: #1378f8;
}

.titre-tableau {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.image-7 {
  display: block;
  width: 30px;
  margin-right: auto;
  margin-left: auto;
}

.column-10 {
  padding-left: 0px;
}

.div-block-34 {
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfdfdf;
  border-radius: 10px;
}

.heading-historique {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 400;
}

.div-block-35 {
  width: 5%;
  border-bottom: 3px solid #1378f8;
}

.text-block-29 {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 50px;
  padding-right: 20px ;
}

.columns-14 {
  margin-top: 20px;
}

.div-block-36 {
  width: 50%;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1378f8;
}

.capitalize {
  text-transform: capitalize;
}

.div-block-bar {
  width: 50%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1378f8;
}

.div-block-37 {
  width: 50%;
  height: 110px;
  margin-right: auto;
  margin-left: auto;
  background-color: #1378f8;
}

.columns-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.text-block-30 {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.div-block-38 {
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.columns-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block-2 {
  margin-top: 20px;
}

.columns-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-3 {
  border-style: solid;
  border-width: 1px;
  border-color: #f5f5f5;
  border-radius: 10px;
}

.text-span {
  color: #1378f8;
  font-size: 15px;
  font-weight: 500;
}

.div-block-39 {
  border-bottom: 3px solid #000;
}

.text-block-31 {
  margin-top: 40px;
}

.columns-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-11 {
  padding-right: 0px;
  padding-left: 0px;
}

.columns-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-8 {
  width: 30px;
}

.text-block-32 {
  margin-left: 10px;
  color: #333;
  font-weight: 400;
}

.columns-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.image-9 {
  width: 40px;
}

.text-block-33 {
  padding-left: 10px;
}

.columns-21 {
  margin-top: 40px;
}

.link {
  display: block;
  color: #333;
  text-decoration: none;
}

.div-block-41 {
  width: 50%;
}

.form-block-3 {
  margin-top: 20px;
}

.text-block-34 {
  text-align: center;
}

.text-block-35 {
  text-align: center;
}

.submit-button-2 {
  display: block;
  width: 100%;
  background-color: #ec6838;
}

.display-table-button {
  display: block;
  margin-top: 20px;
  background-color: #ec6838;
}

.section-7 {
  padding-top: 20px;
}

.text-block-36 {
  color: #fff;
}

.div-block-42 {
  margin-top: 20px;
}

.div-block-43 {
  width: 15%;
  border-bottom: 3px solid #1378f8;
}

.section-8 {
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

.div-block-44 {
  padding-right: 5%;
  padding-left: 5%;
}

.div-block-45 {
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {

  .div-block-9 {
    padding-left: 30px;
  }

  .div-block-27 {
    padding-right: 2%;
    padding-left: 2%;
  }

  .div-block-30 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-6 {
    width: 40px;
  }

  .text-block-28 {
    font-size: 15px;
  }

  .column-10 {
    padding-right: 0px;
  }

  .columns-17 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav-menu {
    background-color: #fafafa;
  }

  .nav-link-2 {
    display: block;
    float: none;
    text-align: right;
  }

  .menu-button {
    background-color: #fafafa;
  }
}

@media screen and (max-width: 767px) {

  .div-block {
    width: 95%;
  }

  .div-block-27 {
    padding-right: 4%;
    padding-left: 4%;
  }

  .div-block-34 {
    margin-top: 10px;
  }

  .div-block-38 {
    margin-top: 10px;
  }

  .column-12 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.captcha {
  display: none;
}

@media screen and (max-width: 479px) {
  .section {
    background-position: 50% 100%;
  }

  .heading {
    font-size: 35px;
  }

  .text-field {
    width: 70%;
  }

  .submit-button {
    width: 30%;
  }

  .text-block {
    font-size: 15px;
  }

  .div-block-2 {
    padding: 20px 5px;
  }

  .search-container {
    margin-top: 20px;
  }

  .div-block-4 {
    padding-top: 20px;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block-5 {
    font-size: 15px;
  }

  .columns-2 {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-8 {
    margin-top: 40px;
  }

  .text-block-6 {
    font-size: 16px;
  }

  .div-block-9 {
    padding-right: 0px;
    padding-left: 10px;
  }

  .text-block-7 {
    font-size: 14px;
  }

  .columns-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .columns-11 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .image-5 {
    width: 100%;
    margin-top: 20px;
  }

  .div-block-35 {
    width: 10%;
  }

  .div-block-30 {
    margin-right: 0px;
  }
}
