{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <link rel="canonical" href="https://estimer.com/agence"/>
    <meta name="description" content="Découvrez les prix du m2 et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{% static 'js/agency.js' %}"></script>
    <!-- Counter fail XSS -->
    {{ cities_pricing |json_script:'cities_pricing' }}

{% endblock %}
    {% block title %}Estimer.com | Prix du m2 et évolution du marché de l’immobilier en France.{% endblock %}

{% block body %}
    <div id="title-section">
        <h1 class="w-11/12 md:w-7/12 mx-auto mt-12 text-center">
            Plus de <span class="underlined-orange">visibilité</span>, plus de mandats</h1>
        <p class="w-10/12 md:w-3/5 mx-auto mt-8 text-center text-center md:w-5/12">Devenez
            l'agence immobilière exclusive qui représentera vos communes sur Estimer.com
            et obtenez de nouveaux mandats</p>
    </div>
    <div id="testimonial-section" class="md:flex md:mt-16 justify-between md:w-10/12 mx-auto">
        <img src="{% static 'images/illustrations/computer_agency.svg' %}"
             alt="computer showing an announce on estimer.com"
             class="w-11/12 mx-auto mt-16 md:mt-8 md:w-2/4">
        <div class="w-8/12 mx-auto md:w-5/12">
            <p class="mt-8">"Être la seule agence qui représente
                mon secteur est un réel plus pour ma visibilité et ma notoriété."</p>
            <div class="mt-10">
                <div class="flex">
                    <img src="{% static 'images/testimonials/logo_helium.webp' %}"
                         class="w-14 h-14 mr-4"
                         alt="Helium immobilier's logo"
                    >
                    <div>
                        <h3>Nabil Benaboura</h3>
                        <p class="text-xs">Helium Immobilier</p>
                    </div>
                </div>
            </div>
            <div class="mt-10 mb-0 md:mt-14 flex justify-between md:w-11/12">
                <a href="#calculator-section">
                <button class="btn-secondary">
                    Obtenez l'exclusivité
                </button>
                </a>
                {#                <button class="btn-primary">#}
                {#                    Default#}
                {#                </button>#}
            </div>
        </div>
    </div>
    <div id="reinforce-section" class="bg-primary-blue-200 mt-24 w-11/12 mx-auto py-12 px-2 md:p-2 rounded-xl">
        <div class="md:flex md:my-24">
            <div class="md:w-2/4 text-center md:text-left md:px-10">
                <h2>Renforcez votre notoriété</h2>
                <p class="mt-8">Les agences immobilières utilisent Estimer.com
                    pour renforcer leur notoriété dans leur ville et signer de nouveaux mandats</p>
                <a href="#calculator-section">
                <button class="btn-secondary mt-12 md:mt-20">
                    Profitez de notre offre
                </button>
                </a>

            </div>
            <div class="mt-12 md:mt-0 md:w-2/4">
                <img src="{% static 'images/illustrations/houses_premium.svg' %}"
                     alt="houses illustration"
                >
            </div>
        </div>
    </div>
    <div id="why-section">
        <h2 class="mx-auto text-center mt-16 md:mt-5 md:w-1/2 md:mt-24"><span class="underlined-orange">Pourquoi</span> choisir Estimer.com ?</h2>
        <div class="md:grid md:grid-cols-3">
            <div class="mt-14">
                <img src="{% static 'images/icons/eye.svg' %}"
                     class="mx-auto mt-14"
                     alt="eye illustration"
                >
                <h3 class="mx-auto text-center mt-8">Plus de visibilité</h3>
                <p class="mx-auto w-8/12 mt-11">
                    Des vendeurs visitent Estimer.com tous les jours.</p>
                <p class="mx-auto w-8/12 mt-11">
                    Nous mettons votre agence en avant afin de vous rendre visible auprès des vendeurs dans votre
                    ville.</p>
            </div>

            <div class="mt-14">
                <img src="{% static 'images/icons/crown.svg' %}"
                     class="mx-auto mt-14"
                     alt="crown illustration"
                >
                <h3 class="mx-auto text-center mt-8">Exclusivité</h3>
                <p class="mx-auto w-8/12 mt-11">Sur la plupart des plateformes existantes, votre agence immobilière est
                    mise en concurrence.</p>
                <p class="mx-auto w-8/12 mt-11">Sur Estimer.com, vous bénéficiez de l'exclusivité sur votre commune afin
                    de renforcer au maximum votre notoriété.</p>
            </div>

            <div class="mt-14">
                <img src="{% static 'images/icons/chart.svg' %}"
                     class="mx-auto mt-14"
                     alt="chart going up illustration"
                >
                <h3 class="mx-auto text-center text-secondary-blue-darkest mt-8">Traffic garanti</h3>
                <p class="mx-auto w-8/12 text-secondary-blue-darkest mt-11">Nous générons du trafic naturel et payant
                    sur
                    les pages de vos communes. </p>
                <p class="mx-auto w-8/12 text-secondary-blue-darkest mt-11">Obtenez tous les mois la visibilité que vous
                    méritez auprès des vendeurs
                    dans votre commune.</p>
            </div>
        </div>
        <div class=" mt-14 text-center mb-12">
            <a href="#calculator-section">
            <button class="btn-secondary mx-auto w-8/12 p-3 text-secondary-blue-darkest md:w-1/4 md:mb-24">
                Réservez vos communes
            </button>
            </a>
        </div>
    </div>
    {#    TESTIMONIALS p2: to be displayed when we have enough of them. #}
    {#    <div class=" bg-secondary-blue-darkest mt-12 p-5">#}
    {#        <h3 class="p-3 mx-auto text-white w-8/12 text-center mb-8 md:text-left md:text-2xl md:mx-0 md:mb-12">Ils nous#}
    {#            font#}
    {#            confiance</h3>#}
    {#        <div class="md:grid md:grid-cols-3 md:w-11/12 md:mx-auto md:mb-24">#}
    {#            <div class="bg-white bg-opacity-25 mx-auto p-8 rounded-xl">#}
    {#                <div class="flex ">#}
    {#                    <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mr-0 w-18 h-18">#}
    {#                    <div class="mx-auto ml-3">#}
    {#                        <h4 class="text-white">Julie B.</h4>#}
    {#                        <p class="text-xs text-white ">Agence Lorem</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <p class="mt-5 mx-auto text-white md:w-3/4 md:mt-8">"Lorem ipsum dolor sit amet. Quo ducimus esse eos#}
    {#                    debitis recusandae sed minima maxime aut quisquam#}
    {#                    dicta. Non perferendis commodi qui ipsam"</p>#}
    {#            </div>#}
    {#            <div class="bg-white bg-opacity-25 mx-auto p-8 rounded-xl hidden md:ml-5 md:block">#}
    {#                <div class="flex ">#}
    {#                    <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mr-0 w-18 h-18">#}
    {#                    <div class="mx-auto ml-3">#}
    {#                        <h4 class="text-white">Julie B.</h4>#}
    {#                        <p class="text-xs text-white">Agence Lorem</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <p class="mt-5 mx-auto text-white md:w-3/4 md:mt-8">"Lorem ipsum dolor sit amet. Quo ducimus esse eos#}
    {#                    debitis recusandae sed minima maxime aut quisquam#}
    {#                    dicta. Non perferendis commodi qui ipsam"</p>#}
    {#            </div>#}
    {#            <div class="bg-white bg-opacity-25 mx-auto p-8 rounded-xl hidden md:ml-5 md:block">#}
    {#                <div class="flex ">#}
    {#                    <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mr-0 w-18 h-18">#}
    {#                    <div class="mx-auto ml-3">#}
    {#                        <h4 class="text-white">Julie B.</h4>#}
    {#                        <p class="text-xs text-white">Agence Lorem</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <p class="mt-5 mx-auto text-white md:w-3/4 md:mt-8">"Lorem ipsum dolor sit amet. Quo ducimus esse eos#}
    {#                    debitis recusandae sed minima maxime aut quisquam#}
    {#                    dicta. Non perferendis commodi qui ipsam"</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="mt-14 w-10/12 mx-auto">
        <h2 class="text-center text-secondary-blue-darkest mb-12">Comment <span class="underlined-orange">en profiter ?</span></h2>
        <div class="md:grid md:grid-cols-3">
            <div class="bg-primary-blue-200 w-11/12 mx-auto rounded-xl md:mt-12">
                <img src="{% static 'images/icons/one.svg' %}"
                     class="pt-12 mx-auto"
                     alt="1"
                >
                <h3 class="text-secondary-blue-darkest text-center mt-8">Ajoutez des communes</h3>
                <p class="w-11/12 mx-auto text-center text-secondary-blue-darkest p-10">Choisissez les communes pour
                    lesquelles vous voulez l'exclusivité.</p>
            </div>
            <div class="bg-primary-blue-200 w-11/12 mx-auto rounded-xl mt-12">
                <img src="{% static 'images/icons/two.svg' %}"
                     class="pt-12 mx-auto"
                     alt="2"
                >
                <h3 class="text-secondary-blue-darkest text-center mt-8">Obtenez votre tarif</h3>
                <p class="w-11/12 mx-auto text-center text-secondary-blue-darkest p-10">Notre calculateur vous propose
                    un prix directement, en toute transparence.</p>
            </div>
            <div class="bg-primary-blue-200 w-11/12 mx-auto rounded-xl mt-12">
                <img src="{% static 'images/icons/three.svg' %}"
                     class="pt-12 mx-auto"
                     alt="3"
                >
                <h3 class="text-secondary-blue-darkest text-center mt-8">Signez plus de mandats</h3>
                <p class="w-11/12 mx-auto text-center text-secondary-blue-darkest p-10">Estimer.com envoie des leads
                    qualifiés directement dans votre boite mail.</p>
            </div>
        </div>
    </div>
    <div id="calculator-section" x-data="citySearch()"
         class="bg-primary-blue-200 mt-24 w-11/12 mx-auto rounded-xl py-16">
        <h3 class="text-secondary-blue-darkest text-center md:w-6/12 pr-1 mx-auto mb-16">
            Votre tarif personnalisé</h3>
        <div class="md:grid md:grid-cols-3 md:mx-auto" x-model="selectedCity">
            <div class="md:ml-auto">
                <p class="text-secondary-blue-darkest text-center text-l mx-auto md:w-11/12">
                    Calculez le prix de votre abonnement</p>
                <div class="text-center">
                    <select type="text" class="p-2 text-sm rounded-full mt-8 w-9/12 md:w-11/12"
                            maxlength="256" required x-on:change="selectDepartement">
                        {#                        <option value="00" disabled selected>Département</option>#}
                        <template x-for="departement in departements" :key="departement.code">
                            <option
                                    :value="departement.code"
                                    x-text="`${departement.name} ${departement.code !== '00'? '('+departement.code+')' : ''}`"
                                    :selected="departement.code === selectedDepartement"
                            >
                            </option>
                        </template>
                    </select>
                </div>
                <div class="text-center">
                    <select type="text" class="p-2 text-sm rounded-full mt-8 w-9/12 md:w-11/12"
                            maxlength="256" required x-on:change="addCities()">
                        <option value="" disabled selected>Choisissez vos communes</option>
                        <template x-for="(city, id) in cities" :key="id">
                            <option :value="city.id" x-text="`${city.name} (${city.zipcode})`"
                                    :disabled="!!city.disabled">
                            </option>
                        </template>
                    </select>
                </div>
                <div class=" mt-5 bg-white w-9/12 rounded-xl mx-auto h-32 mb-8 overflow-auto md:w-11/12">
                    <ul>
                        <template x-for="(city, index) in selectedCities" :key="index">
                            <div class="flex mx-2 my-1">
                                <li x-text="`${city.name} (${city.zipcode})`"
                                    class="bg-secondary-blue-darkest p-1 text-white rounded-l-lg"></li>
                                <button
                                        class="bg-secondary-blue-darkest text-white rounded-r-lg pr-2"
                                        @click="deleteCities(city.id)">&cross;
                                </button>
                            </div>
                        </template>
                    </ul>
                </div>

            </div>
            <div class="my-8 w-11/12 h-0.5 bg-primary-blue-300 mx-auto md:w-[2px] md:h-3/4"></div>
            <div class="md:flex md:flex-col md:mr-auto">
                <div class="mt-12">
                    <h2 class="text-center text-secondary-blue-darkest"><span x-text="price"></span> €/mois *</h2>
                    <p class="text-secondary-blue-darkest text-center mx-auto mt-4">* coût rentabilisé dès le
                        premier
                        mandat</p>
                </div>
                <div class="text-center mt-10">
                    <a :href="mailto">
                        <button class="btn-secondary">
                            Réservez l'exclusivité
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-12 text-center">
        <h2 class="text-secondary-blue-darkest md:mt-24"><span class="underlined-orange">Questions fréquentes</span></h2>
        <ul itemscope itemtype="https://schema.org/FAQPage" class="flex flex-col mt-12 w-11/12 md:w-9/12 mx-auto md:text-left">
            <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2" >
                <details>
                <p class="flex justify-between items-center font-semibold p-3 cursor-pointer">
                    <summary itemprop="name">Est-ce que je serai la seule agence immobilière qui représentera ma commune ?</summary>
                </p>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" >
                    <p itemprop="text" class="p-3 text-secondary-blue-darkest text-xs">
                        Oui ! La particularité de notre offre est que vous êtes la seule agence à représenter votre
                        commune pour un maximum de visibilité et de notoriété.
                    </p>
                </div>
                </details>
            </li>
            <li class="my-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
            <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2">
                <details>
                <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                    <summary itemprop="name">Est-ce que je peux arrêter mon abonnement à tout moment ?</summary>
                </p>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" >
                    <p itemprop="text" class="p-3 text-secondary-blue-darkest text-xs">
                        Oui ! Votre abonnement est sans engagement donc vous pouvez le résilier quand vous le souhaitez.
                    </p>
                </div>
                </details>
            </li>
            <li class="my-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
            <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2">
                <details>
                <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                    <summary itemprop="name">Offrez vous un tarif annuel ?</summary>
                </p>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" >
                    <p itemprop="text" class="p-3 text-secondary-blue-darkest text-xs">
                        Oui ! Nous proposons 20% de réduction sur nos abonnements si vous choisissez un plan annuel.
                    </p>
                </div>
                </details>
            </li>
            <li class="mt-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
            <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="bg-white my-2">
                <details>
                <p class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                    <summary itemprop="name">Est-ce qu’il est possible de représenter plusieurs communes sur Estimer.com ?</summary>
                </p>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" >
                    <p itemprop="text" class="p-3 text-secondary-blue-darkest text-xs">
                        Oui ! Vous pouvez représenter autant de communes que vous souhaitez.
                        La seule condition est de disposer d'une réelle expertise et présence sur les communes
                        sélectionnées.
                    </p>
                </div>
                </details>
            </li>
            <li class="mt-2 w-full h-px bg-secondary-blue-lightest mx-auto"></li>
        </ul>
    </div>

{% endblock %}
