{% extends 'layout/base.html' %}
{% load static %}

{% block headscript %}
    <title>Estimer.com | Prix du m2 et évolution du marché de l’immobilier en France.</title>
    <link rel="canonical" href="https://estimer.com"/>
    <meta name="description"
          content="Découvrez les prix du m2 et l’évolution du marché de l’immobilier
           dans votre ville, puis obtenez l’estimation de votre maison ou appartement."/>
    <script src="{% static 'js/agency.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="w-7/12 mx-auto mt-8 text-secondary-blue-darkest">Plus de visibilité, plus de mandats</h2>
        <p class="w-3/5 mx-auto mt-8 text-center text-secondary-blue-darkest">Devenez l'agence immobilière exclusive qui représentera votre commune sur Estimer.com
            et obtenez de nouveaux mandats</p>
    </div>
    <div class="container-fluid mt-14">
        <img src="{% static 'images/illustrations/computer_agency.png' %}" class="w-3/4 mx-auto mt-8">
    </div>
    <div class="container-fluid mt-14">
        <p class="w-3/5 mx-auto mt-8 text-secondary-blue-darkest">" Lorem ipsum dolor sit amet. Qui aliquam quaerat ex tempora consequatur ut quos earum ut galisum expedita.
            Et ratione minus aut voluptatum veniam a dolorem dolores sed totam quas ut repellat similique et similique
            voluptatum cum odit deserunt."</p>
    </div>
    <div class="container mt-14">
    <div class="flex">
        <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mr-0 w-18 h-18">
        <div class="mx-auto ml-3">
        <h3 class="text-secondary-blue-darkest">Prénom Nom</h3>
        <p class="text-xs">Agence Lorem</p>
        </div>
    </div>
    </div>
    <div class="container mt-14 text-center mb-8">
        <button class="btn-secondary mx-auto w-8/12 p-3 text-secondary-blue-darkest">
                    Obtenez l'exclusivité
        </button>

        <button class="btn-primary mx-auto w-8/12 p-3 mt-8 text-secondary-blue-darkest">
                    Default
        </button>
    </div>

    <div class="container-fluid bg-primary-blue-200 mt-14 w-9/12 mx-auto p-2 rounded-lg">
        <h2 class="text-center text-secondary-blue-darkest mt-5">Renforcez votre notoriété</h2>
        <p class="p-3 mt-3 text-secondary-blue-darkest">Les agences immobilières utilisent Estimer.com pour renforcer leur notoriété dans leur ville
            et signé de nouveaux mandats</p>
        <div class="text-center mt-5">
        <button class="btn-secondary w-8/12 p-3 text-secondary-blue-darkest">
                    Démarrez notre offre
        </button>
        </div>
        <div class="mt-14 mb-12">
            <img src="{% static 'images/illustrations/houses_premium.svg' %}" class="w-9/12 mx-auto">
        </div>
    </div>

    <div class="container-fluid mt-14">
        <h2 class="mx-auto text-center text-secondary-blue-darkest mt-5 w-1/2">Pourquoi choisir notre offre</h2>
        <img src="{% static 'images/icons/eye.svg' %}" class="mx-auto mt-14">
        <h4 class="mx-auto text-center text-secondary-blue-darkest mt-8">Plus de visibilité</h4>
        <p class="mx-auto w-1/2 text-secondary-blue-darkest mt-11">Des vendeurs viennent tous les jours sur Estimer.com
            pour suivre le prix de l'immobilier et pour évaluer leur bien.
        Nous vous mettons en avant afin de vous rendre visible auprès des vendeurs dans votre ville</p>
    </div>

    <div class="container-fluid mt-14">
        <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mt-14">
        <h4 class="mx-auto text-center text-secondary-blue-darkest mt-8">Exclusivité</h4>
        <p class="mx-auto w-1/2 text-secondary-blue-darkest mt-11">Votre agence immobilière est mise en concurrence sur
            la plupart des plateformes existantes. Sur Estimer;com, vous bénéficiez de l'exclusivité sur votre commune
            afin de renforcer au maximum votre notoriété.</p>
    </div>

    <div class="container-fluid mt-14">
        <img src="{% static 'images/icons/chart.svg' %}" class="mx-auto mt-14">
        <h4 class="mx-auto text-center text-secondary-blue-darkest mt-8">Traffic garanti</h4>
        <p class="mx-auto w-1/2 text-secondary-blue-darkest mt-11">Nous générons du trafic naturel et payant sur
            les pages de vos communes. Obetenez tous les mois la visibilité que vous méritez auprès des vendeurs
            dans votre commune.</p>
    </div>

    <div class="container-fluid mt-14 text-center mb-12">
        <button class="btn-secondary mx-auto w-8/12 p-3 text-secondary-blue-darkest">
                    Représentez vos communes
        </button>
    </div>
    <div class="container-fluid bg-secondary-blue-darkest mt-12 p-5">
        <h3 class="p-3 mx-auto text-white w-8/12 text-center mb-8">Ils nous font confiance</h3>
        <div class="bg-white bg-opacity-25 mx-auto p-8 rounded-lg">
            <div class="flex ">
                <img src="{% static 'images/icons/crown.svg' %}" class="mx-auto mr-0 w-18 h-18">
                <div class="mx-auto ml-3">
                    <h4 class="text-white">Julie B.</h4>
                    <p class="text-xs text-white">Agence Lorem</p>
                </div>
            </div>
            <p class="mt-5 mx-auto text-white">"Lorem ipsum dolor sit amet. Quo ducimus esse eos debitis recusandae sed minima maxime aut quisquam
                    dicta. Non perferendis commodi qui ipsam"</p>
        </div>
    </div>
    <div class="container-fluid mt-14">
        <h2 class="text-center text-secondary-blue-darkest mb-12"> Comment s'incrire ?</h2>
        <div class="bg-primary-blue-200 w-11/12 mx-auto rounded-lg">
            <img src="{% static 'images/icons/one.svg' %}" class="pt-12 mx-auto">
            <h4 class="text-secondary-blue-darkest text-center mt-8">Ajoutez des communes</h4>
            <p class="w-9/12 mx-auto text-center text-secondary-blue-darkest p-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        </div>
        <div class="bg-primary-blue-200 w-11/12 mx-auto rounded-lg mt-12">
            <img src="{% static 'images/icons/two.svg' %}" class="pt-12 mx-auto">
            <h4 class="text-secondary-blue-darkest text-center mt-8">Obtenez votre tarif</h4>
            <p class="w-9/12 mx-auto text-center text-secondary-blue-darkest p-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        </div>
        <div class="bg-primary-blue-200 w-11/12 mx-auto rounded-lg mt-12">
            <img src="{% static 'images/icons/three.svg' %}" class="pt-12 mx-auto">
            <h4 class="text-secondary-blue-darkest text-center mt-8">Payer votre abonnement</h4>
            <p class="w-9/12 mx-auto text-center text-secondary-blue-darkest p-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
        </div>
        <div class="text-center mt-16">
            <button class="btn-secondary w-11/12 p-3 text-secondary-blue-darkest">
                    Démarrez notre offre
            </button>
        </div>
    </div>
    <div x-data="citySearch()" class="container bg-primary-blue-200 mt-16 w-11/12 mx-auto rounded-lg">
        <h3 class="text-secondary-blue-darkest text-center py-6 w-6/12 pr-1 mx-auto">Des tarifs adaptés à vos communes</h3>
        <p class="text-secondary-blue-darkest text-center text-l w-6/12 mx-auto">Calculez le prix de votre abonnement</p>
        <div class="text-center">
        <select  type="text" x-model="selectedCity" class="p-2 text-sm rounded-full mt-8 w-9/12" maxlength="256" required x-on:change="addCities()">
            <option value="" disabled selected>Choissisez le nom de vos communes</option>
    <template x-for="(city, id) in cities" :key="id">
            <option :value="city.id" x-text="`${city.name} (${city.zipcode})`" :disabled="!!city.disabled"></option>
    </template>
        </select>
        </div>
        <div class="container-fluid mt-5 bg-white w-9/12 rounded-lg mx-auto h-32 overflow-auto">
            <ul>
                <template x-for="(city, index) in selectedCities" :key="index">
                    <div class="flex mx-2 my-1">
                    <li x-text="`${city.name} (${city.zipcode})`" class="bg-secondary-blue-darkest p-1 text-white rounded-l-lg"></li><button class="bg-secondary-blue-darkest text-white rounded-r-lg pr-2" @click="deleteCities(city.id)">&cross;</button>
                    </div>
                </template>
            </ul>
        </div>
        <div class="my-8 w-11/12 h-0.5 bg-primary-blue-300 mx-auto"></div>
        <div class="mt-12">
            <h2 class="text-center text-secondary-blue-darkest">0000 €/mois</h2>
            <p class="text-secondary-blue-darkest text-center w-1/2 mx-auto mt-4">coût rentabilisé dès le premier mandat</p>
        </div>
        <div class="text-center mt-10">
            <button class="btn-secondary w-10/12 p-3 text-secondary-blue-darkest">
                    Payez votre abonnement
            </button>
            <p class="mt-4 text-secondary-blue-darkest pb-14">Pas d'engagement, résiliable à tout moment</p>
        </div>
    </div>

      <script>
    document.addEventListener('alpine:init', () => {
      Alpine.store('accordion', {
        tab: 0
      });

      Alpine.data('accordion', (idx) => ({
        init() {
          this.idx = idx;
        },
        idx: -1,
        handleClick() {
          this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
        },
        handleRotate() {
          return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
        },
        handleToggle() {
          return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
        }
      }));
    })
  </script>

    <div class="container-fluid mt-12 text-center">
        <h2 class="text-secondary-blue-darkest">Questions fréquentes</h2>
        <ul class="flex flex-col mt-12 w-9/12 mx-auto text-secondary-blue-darkest">
            <li class="bg-white my-2" x-data="accordion(1)">
              <p @click="handleClick()" class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span class="text-left">Est-ce que je serai la seule agence immobilière qui représentera ma commune ?</span>
                <svg :class="handleRotate()" class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500" viewBox="0 0 20 20">
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </p>
              <div x-ref="tab" :style="handleToggle()" class="overflow-hidden max-h-0 duration-500 transition-all">
                <p class="p-3 text-secondary-blue-darkest text-xs">
                  Oui, nous vous garantissons l'exclusivité dans votre commune.
                </p>
              </div>
            </li>
            <div class="my-2 w-11/12 h-0.5 bg-secondary-blue-lightest mx-auto"></div>
            <li class="bg-white my-2" x-data="accordion(2)">
              <p @click="handleClick()" class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span class="text-left">Est-ce que je serai la seule agence immobilière qui représentera ma commune ?</span>
                <svg :class="handleRotate()" class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500" viewBox="0 0 20 20">
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </p>
              <div x-ref="tab" :style="handleToggle()" class="overflow-hidden max-h-0 duration-500 transition-all">
                <p class="p-3 text-secondary-blue-darkest text-xs">
                  Oui, nous vous garantissons l'exclusivité dans votre commune.
                </p>
              </div>
            </li>
            <div class="my-2 w-11/12 h-0.5 bg-secondary-blue-lightest mx-auto"></div>
            <li class="bg-white my-2" x-data="accordion(3)">
              <p @click="handleClick()" class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span class="text-left">Est-ce que je serai la seule agence immobilière qui représentera ma commune ?</span>
                <svg :class="handleRotate()" class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500" viewBox="0 0 20 20">
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </p>
              <div x-ref="tab" :style="handleToggle()" class="overflow-hidden max-h-0 duration-500 transition-all">
                <p class="p-3 text-secondary-blue-darkest text-xs">
                  Oui, nous vous garantissons l'exclusivité dans votre commune.
                </p>
              </div>
            </li>
            <div class="my-2 w-11/12 h-0.5 bg-secondary-blue-lightest mx-auto"></div>
            <li class="bg-white my-2" x-data="accordion(4)">
              <p @click="handleClick()" class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span class="text-left">Est-ce que je serai la seule agence immobilière qui représentera ma commune ?</span>
                <svg :class="handleRotate()" class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500" viewBox="0 0 20 20">
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </p>
              <div x-ref="tab" :style="handleToggle()" class="overflow-hidden max-h-0 duration-500 transition-all">
                <p class="p-3 text-secondary-blue-darkest text-xs">
                  Oui, nous vous garantissons l'exclusivité dans votre commune.
                </p>
              </div>
            </li>
            <div class="my-2 w-11/12 h-0.5 bg-secondary-blue-lightest mx-auto"></div>
            <li class="bg-white my-2" x-data="accordion(5)">
              <p @click="handleClick()" class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                <span class="text-left">Est-ce que je serai la seule agence immobilière qui représentera ma commune ?</span>
                <svg :class="handleRotate()" class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500" viewBox="0 0 20 20">
                  <path d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
                </svg>
              </p>
              <div x-ref="tab" :style="handleToggle()" class="overflow-hidden max-h-0 duration-500 transition-all">
                <p class="p-3 text-secondary-blue-darkest text-xs">
                  Oui, nous vous garantissons l'exclusivité dans votre commune.
                </p>
              </div>
            </li>
            <div class="my-2 w-11/12 h-0.5 bg-secondary-blue-lightest mx-auto"></div>
        </ul>
    </div>

{% endblock %}
